<nb-alert *ngIf="alert" status="success" closable (close)="closeAlert()">
    <div style="text-align: center;">!Registro realizado con exito! </div>
</nb-alert>

<nb-alert *ngIf="alertUpdate" status="success" closable (close)="closeAlert()">
    <div style="text-align: center;">!Actualización realizada con exito! </div>
</nb-alert>

<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>
                <h5 class="title">Registrar Equipo</h5>
            </nb-card-header>
            <nb-card-body>
                <h6 class="title text-center">Registrar un nuevo Equipo</h6>
                <div style="padding: 10px;"></div>
                <form style="position: relative; left: 8%;" class="col-md-10" (ngSubmit)="registrarEquipo()">
                    <div class=" row">
                        <div class=" px-md-4 col-md-6 form-group mx-auto text-center">
                            <label>Nombre</label>
                            <input nbInput fullWidth status="danger" shape="semi-round" class="text-center" type="text" name="nombre" placeholder="Ingresa el nombre" #nombre="ngModel" [(ngModel)]="equipo.nombre" required minlength="5" [ngModelOptions]="{standalone: true}">
                            <small *ngIf="!nombre.valid && nombre.touched && equipo.nombre !== ''" class="invalid-feedback d-block">El nombre no es
                válido</small>
                        </div>
                    </div>
                    <div class=" row">
                        <div class=" px-md-4 col-md-6 form-group mx-auto text-center">
                            <label>Key Colab</label>
                            <input nbInput fullWidth status="danger" shape="semi-round" class="text-center" type="text" name="key_colab" placeholder="Ingrese la key colab" #key_colab="ngModel" [(ngModel)]="equipo.key_colab" required minlength="1" [ngModelOptions]="{standalone: true}">
                            <small *ngIf="!key_colab.valid && key_colab.touched && equipo.key_colab !== ''" class="invalid-feedback d-block">La key colab no es
                válida</small>
                        </div>
                    </div>
                    <div class=" row">
                        <div class=" px-md-4 col-md-6 form-group mx-auto text-center">
                            <label>Key Proyecto</label>
                            <input nbInput fullWidth status="danger" shape="semi-round" class="text-center" type="text" name="key_proyecto" placeholder="Ingrese la key proyecto" #key_proyecto="ngModel" [(ngModel)]="equipo.key_proyecto" required minlength="1" [ngModelOptions]="{standalone: true}">
                            <small *ngIf="!key_proyecto.valid && key_proyecto.touched && equipo.key_proyecto !== ''" class="invalid-feedback d-block">La key
                proyecto no es válida</small>
                        </div>
                    </div>
                    <div style="padding: 10px;"></div>
                    <div class="text-center">
                        <button nbButton status="danger" type="submit">Registrar</button>
                    </div>
                </form>
                <div style="padding: 30px;"></div>
                <form class="pl-md-5" (ngSubmit)="buscarEquipos()">
                    <div class="row">
                        <div class="row align-items-center">
                            <div class="px-md-2">
                                <input nbInput fullWidth shape="semi-round" style="width : 600px;" fieldSize="giant" type="text" [(ngModel)]="termino" name="termino" placeholder="Buscar Equipo">
                            </div>
                            <div class="px-md-2">
                                <button nbButton status="primary" type="submit" size="giant">Buscar</button>
                            </div>
                        </div>
                    </div>
                </form>
                <nb-card-body>
                    <div class="table-responsive">
                        <table class="table dark-table ">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of myList">
                                    <td>{{ item.id_equipo }}</td>
                                    <td>{{ item.nombre }}</td>
                                    <td>
                                        <button nbButton status="danger" type="button" size="medium" (click)="openModalUpdate(item)">Editar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </nb-card-body>
            </nb-card-body>
        </nb-card>
    </div>
</div>

<div class="modal custom-modal" [class.show]="modalUpdate" style="display: block;" *ngIf="modalUpdate">
    <div class="modal-dialog">
        <div class="modal-content" style=" margin-top: 30%; width: 1200px; background-color: rgb(47, 62, 106); right: 60%;">
            <div class="modal-header">
                <h style="font-weight: bold; color: rgb(255, 255, 255);">Edicion de Equipo</h>
            </div>
            <div style="padding: 30px;"></div>
            <div class="modal-body">
                <form class="col-md-10" style="left: 8%;" (ngSubmit)="updateEquipo()">
                    <div class=" row">
                        <div class=" px-md-4 col-md-6 form-group mx-auto text-center">
                            <label>Nombre</label>
                            <input nbInput fullWidth status="danger" shape="semi-round" class="text-center" type="text" name="nombre" placeholder="Ingresa el nombre" #nombre="ngModel" [(ngModel)]="equipoCopy.nombre" required minlength="5" [ngModelOptions]="{standalone: true}">
                            <small *ngIf="!nombre.valid && nombre.touched" class="invalid-feedback d-block">El nombre no es
                válido</small>
                        </div>
                    </div>
                    <div class=" row">
                        <div class=" px-md-4 col-md-6 form-group mx-auto text-center">
                            <label>Key Colab</label>
                            <input nbInput fullWidth status="danger" shape="semi-round" class="text-center" type="text" name="key_colab" placeholder="Ingrese la key colab" #key_colab="ngModel" [(ngModel)]="equipoCopy.key_colab" required minlength="1" [ngModelOptions]="{standalone: true}">
                            <small *ngIf="!key_colab.valid && key_colab.touched" class="invalid-feedback d-block">La key colab no es
                válida</small>
                        </div>
                    </div>
                    <div class=" row">
                        <div class=" px-md-4 col-md-6 form-group mx-auto text-center">
                            <label>Key Proyecto</label>
                            <input nbInput fullWidth status="danger" shape="semi-round" class="text-center" type="text" name="key_proyecto" placeholder="Ingrese la key proyecto" #key_proyecto="ngModel" [(ngModel)]="equipoCopy.key_proyecto" required minlength="1" [ngModelOptions]="{standalone: true}">
                            <small *ngIf="!key_proyecto.valid && key_proyecto.touchedequipoCopy" class="invalid-feedback d-block">La key
                proyecto no es válida</small>
                        </div>
                    </div>
                    <div style="padding: 20px;"></div>
                    <div class="row">
                        <div class="col">
                            <button nbButton status="danger" size="medium" type="submit">Editar</button>
                        </div>
                        <div class="col text-right">
                            <button nbButton status="primary" size="medium" type="button" (click)="closeModal()">Cerrar</button>
                        </div>
                    </div>
                    <div style="padding: 20px;"></div>
                </form>
            </div>
        </div>
    </div>
</div>