/* CSS personalizado para cambiar el color del texto en una tabla de fondo oscuro */

.custom-pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.dark-table {
    color: white;
    /* Cambiar el color del texto a blanco */
}


/* Aplicar el estilo a las celdas de datos en la tabla */

.dark-table td {
    color: white;
    /* Cambiar el color del texto a blanco en las celdas de datos */
}

.nb-cards {
    max-width: 600px;
    max-height: 500px;
}

.tag-style {
    display: inline-block;
    background-color: #ff0000;
    /* color de fondo del "tag" */
    color: #ffffff;
    /* color del texto del "tag" */
    padding: 5px 10px;
    /* espacio alrededor del texto del "tag" */
    margin-right: 10px;
    /* margen entre los "tags" */
    border-radius: 5px;
    /* esquinas redondeadas */
}

.list-card {
    nb-card-header {
        border-bottom: none;
    }
    nb-card-body {
        padding: 0;
    }
}