/*
.board {
    display: flex;
    height: 80vh;
    overflow-x: auto;
    padding: 0 1em;
}
*/

.list {
    background-color: #212b46;
    border-radius: 10px;
    box-shadow: 0.1em 0.1em 0.5em lightgrey;
    height: auto;
    margin: 25px;
    padding: 1em;
    width: 350px;
    &__title {
        margin: 0;
        padding: 16px 0;
    }
    &__tasks {
        height: 60vh;
        overflow-y: auto;
    }
}

.task {
    background: rgb(66, 87, 143);
    border-radius: 5px;
    box-shadow: 0.1em 0.1em 0.5em lightgrey;
    color: #333;
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 30px 0;
    padding: 6px 6px 2px 8px;
    &--urgent {
        border-left: 5px solid salmon;
    }
    &--moderate {
        border-left: 5px solid lightseagreen;
    }
    &--low {
        border-left: 5px solid lightgoldenrodyellow;
    }
    &__title {
        flex: 1 1 40%;
        font-weight: bold;
        text-align: center;
    }
    &__icon {
        flex: 1 1 20%;
        text-align: left;
    }
    &__date,
    &__description {
        flex: 1 1 100%;
    }
}

.cdk-drag-preview {
    background-color: color rgb(0, 153, 255);
}

.cdk-drag-placeholder {
    opacity: 0.5;
}

@media only screen and (max-width: 1050px) {}