<div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h5 class="title">Registro de Colaboradores</h5>
          </div>
          <div class="card-body">
            <button type="button" class="btn btn-fill btn-danger" (click)="openModal()">Registrar</button>
            <div class="modal" *ngIf="modalRegister">
              <form class="contact-form" method="POST" #registrarColaboradorForm="ngForm" (ngSubmit)="registrarColaborador(registrarColaboradorForm)">
                <style>
                  form {
                    margin: auto;
                    width: 95%;
                  }
                </style>
                <div class="row">
                  <div class="col-md-6 px-md-1">
                    <div class="form-group">
                      <label>Nombre</label>
                      <input class="form-control" type="text" name="nombre" placeholder="Ingrese el nombre" #nombre="ngModel" [(ngModel)]="colaborador.nombre" required minlength="5" [ngModelOptions]="{standalone: true}">
                      <small *ngIf="!nombre.valid && nombre.touched" class="invalid-feedback d-block">El nombre no es válido</small>
                    </div>
                  </div>
                  <div class="col-md-3 px-md-1">
                    <div class="form-group">
                      <label>Teléfono</label>
                      <input class="form-control" type="text" name="telefono" placeholder="Ingrese el teléfono" #telefono="ngModel" [(ngModel)]="colaborador.telefono" required minlength="1" [ngModelOptions]="{standalone: true}">
                      <small *ngIf="!telefono.valid && telefono.touched" class="invalid-feedback d-block">El teléfono no es válido</small>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 px-md-1">
                    <div class="form-group">
                      <label>GitHub</label>
                      <input class="form-control" type="text" name="github" placeholder="Ingrese el GitHub" #github="ngModel" [(ngModel)]="colaborador.github" [ngModelOptions]="{standalone: true}" required minlength="5">
                      <small *ngIf="!github.valid && github.touched" class="invalid-feedback d-block">El GitHub no es válido</small>
                    </div>
                  </div>
                  <div class="col-md-6 px-md-1">
                    <div class="form-group">
                      <label>Correo</label>
                      <input class="form-control" type="email" name="correo" placeholder="Ingrese el Correo" #correo="ngModel" [(ngModel)]="colaborador.correo" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [ngModelOptions]="{standalone: true}" required minlength="5">
                      <small *ngIf="!correo.valid && correo.touched" class="invalid-feedback d-block">El correo no es válido</small>
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <button [disabled]="registrarColaboradorForm.invalid" type="submit" class="btn btn-fill btn-danger">
                    <span>Registrar</span>
                  </button>
                  <button type="button" (click)="closeModal()" class="btn btn-primary">Cerrar</button>
                </div>
              </form>
              <div class="col-md-4">
                <div class="card card-user">
                  <div class="card-body">
                    <form class="contact-form" method="POST" #registrarColaboradorForm2="ngForm" (ngSubmit)="registrarColaborador(registrarColaboradorForm2)">
                      <p class="card-text"></p>
                      <div class="author">
                        <a href="javascript:void(0)">
                          <label>
                            <button type="button" class="btn btn-primary">Subir foto</button>
                            <input type="file" name="foto" #foto="ngModel" [(ngModel)]="colaborador.foto" [ngModelOptions]="{standalone: true}" required minlength="3" style="display: none">
                          </label>
                        </a>
                        <p class="description">Colaborador</p>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal" *ngIf="modalUpdate">
              <form class="contact-form" method="POST" (ngSubmit)="updateColaborador(updateColaboradorForm)">
                <style>
                  form {
                    margin: auto;
                    width: 95%;
                  }
                </style>
                <div class="row">
                  <div class="col-md-6 px-md-1">
                    <input name="id_colab" [(ngModel)]="colaborador.id_colab" [ngModelOptions]="{standalone: true}" hidden="">
                    <div class="form-group">
                      <label>Nombre</label>
                      <input class="form-control" type="text" name="nombre" placeholder="Ingrese el nombre" #nombre="ngModel" [(ngModel)]="colaborador.nombre" required minlength="5" [ngModelOptions]="{standalone: true}">
                      <small *ngIf="!nombre.valid && nombre.touched" class="invalid-feedback d-block">El nombre no es válido</small>
                    </div>
                  </div>
                  <div class="col-md-3 px-md-1">
                    <div class="form-group">
                      <label>Teléfono</label>
                      <input class="form-control" type="text" name="telefono" placeholder="Ingrese el teléfono" #telefono="ngModel" [(ngModel)]="colaborador.telefono" required minlength="1" [ngModelOptions]="{standalone: true}">
                      <small *ngIf="!telefono.valid && telefono.touched" class="invalid-feedback d-block">El teléfono no es válido</small>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 px-md-1">
                    <div class="form-group">
                      <label>GitHub</label>
                      <input class="form-control" type="text" name="github" placeholder="Ingrese el GitHub" #github="ngModel" [(ngModel)]="colaborador.github" [ngModelOptions]="{standalone: true}" required minlength="5">
                      <small *ngIf="!github.valid && github.touched" class="invalid-feedback d-block">El GitHub no es válido</small>
                    </div>
                  </div>
                  <div class="col-md-6 px-md-1">
                    <div class="form-group">
                      <label>Correo</label>
                      <input class="form-control" type="email" name="correo" placeholder="Ingrese el Correo" #correo="ngModel" [(ngModel)]="colaborador.correo" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [ngModelOptions]="{standalone: true}" required minlength="5">
                      <small *ngIf="!correo.valid && correo.touched" class="invalid-feedback d-block">El correo no es válido</small>
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <button [disabled]="updateColaboradorForm.invalid" type="submit" class="btn btn-fill btn-danger">
                    <span>Editar</span>
                  </button>
                  <button type="button" (click)="closeModal()" class="btn btn-primary">Cerrar</button>
                </div>
              </form>
              <div class="col-md-4">
                <div class="card card-user">
                  <div class="card-body">
                    <form class="contact-form" method="POST" #registrarColaboradorForm2="ngForm" (ngSubmit)="registrarColaborador(registrarColaboradorForm2)">
                      <p class="card-text"></p>
                      <div class="author">
                        <a href="javascript:void(0)">
                          <label>
                            <button type="button" class="btn btn-primary">Subir foto</button>
                            <input type="file" name="foto" #foto="ngModel" [(ngModel)]="colaborador.foto" [ngModelOptions]="{standalone: true}" required minlength="3" style="display: none">
                          </label>
                        </a>
                        <p class="description">Colaborador</p>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-header">
              <div class="card-body">
                <form (ngSubmit)="buscarColaboradores()">
                  <div class="row align-items-center">
                    <div class="col-md-6">
                      <div class="input-group">
                        <input class="form-control" type="text" [(ngModel)]="termino" name="termino" placeholder="Buscar Colaborador">
                      </div>
                    </div>
                    <div class="col-md-1 mt-md-0 mt-0">
                      <button style="position: absolute; top: -30px" type="submit" class="btn btn-primary">Buscar</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table tablesorter">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Nombre</th>
                      <th>Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of myList">
                      <td>{{ item.id_colab }}</td>
                      <td>{{ item.nombre }}</td>
                      <td>
                        <button type="button" class="btn btn-fill btn-danger" (click)="openModalUpdate(item.id_colab)">Editar</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>