<nb-alert *ngIf="alert" status="success" closable (close)="closeAlert()">
    <div style="text-align: center;">!Registro realizado con exito! </div>
</nb-alert>

<nb-alert *ngIf="alertUpdate" status="success" closable (close)="closeAlert()">
    <div style="text-align: center;">!Actualización realizada con exito! </div>
</nb-alert>

<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>
                <h5 class="title">Registro de Colaboradores</h5>
            </nb-card-header>
            <nb-card-body>
                <h6 class="title text-center">Registrar un nuevo Colaborador</h6>
                <div style="padding: 20px;"></div>
                <form (ngSubmit)="registrarColaborador()">
                    <div style="left: 4%;" class="col-md-8">
                        <div class="row">
                            <div class=" px-md-1 col-md-5 form-group mx-auto text-center">
                                <div class="form-group">
                                    <label>Nombre</label>
                                    <input nbInput fullWidth status="danger" shape="semi-round" class="text-center" type="text" name="nombre" placeholder="Ingrese el nombre" #nombre="ngModel" [(ngModel)]="colaborador.nombre" required minlength="5" [ngModelOptions]="{standalone: true}">
                                    <small *ngIf="!nombre.valid && nombre.touched && colaborador.nombre !== ''" class="invalid-feedback d-block">El nombre no es válido</small>
                                </div>
                            </div>
                            <div class=" px-md-1 col-md-5 form-group mx-auto text-center">
                                <div class="form-group">
                                    <label>Teléfono</label>
                                    <input nbInput fullWidth status="danger" shape="semi-round" class="text-center" type="text" name="telefono" placeholder="Ingrese el teléfono" #telefono="ngModel" [(ngModel)]="colaborador.telefono" required minlength="1" [ngModelOptions]="{standalone: true}">
                                    <small *ngIf="!telefono.valid && telefono.touched && colaborador.telefono !== ''" class="invalid-feedback d-block">El teléfono no es válido</small>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class=" px-md-1 col-md-5 form-group mx-auto text-center">
                                <div class="form-group">
                                    <label>GitHub</label>
                                    <input nbInput fullWidth status="danger" shape="semi-round" class="text-center" type="text" name="github" placeholder="Ingrese el GitHub" #github="ngModel" [(ngModel)]="colaborador.github" [ngModelOptions]="{standalone: true}" required minlength="5">
                                    <small *ngIf="!github.valid && github.touched && colaborador.github !== ''" class="invalid-feedback d-block">El GitHub no es válido</small>
                                </div>
                            </div>
                            <div class=" px-md-1 col-md-5 form-group mx-auto text-center">
                                <div class="form-group">
                                    <label>Correo</label>
                                    <input nbInput fullWidth status="danger" shape="semi-round" class="text-center" type="email" name="correo" placeholder="Ingrese el Correo" #correo="ngModel" [(ngModel)]="colaborador.correo" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [ngModelOptions]="{standalone: true}"
                                        required minlength="5">
                                    <small *ngIf="!correo.valid && correo.touched && colaborador.correo !== ''" class="invalid-feedback d-block">El correo no es válido</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <nb-card class="text-center" status="danger" style="position: absolute; top: 4%; right: 5%; background-color: rgb(47, 62, 106);">
                            <nb-card-header>Foto</nb-card-header>
                            <nb-card-body>
                                <img *ngIf="fotoAlert" src="./assets/images/user.png" alt="..." style="width: 250;; height: 150px; border-radius: 5%;">
                                <img *ngIf="!fotoAlert" [src]="getFotoUrl()" alt="Foto del colaborador" style="width: 250;; height: 150px; border-radius: 5%;">
                            </nb-card-body>
                            <nb-card-footer><input style="font-weight: bold; font-size: 15px; color: white;" type="file" accept=".jpeg, .png, .jpg" (change)="foto($event.target.files)" placeholder="Subir Foto" /></nb-card-footer>
                        </nb-card>
                    </div>
                    <div style="padding: 10px;"></div>
                    <div style="position: relative; left: 33.8%;">
                        <button nbButton status="danger" type="submit" class="btn btn-fill btn-danger">Registrar</button>
                    </div>
                </form>
                <div style="padding: 30px;"></div>
                <form class="pl-md-5" (ngSubmit)="buscarColaboradores()">
                    <div class="row">
                        <div class="row align-items-center">
                            <div class="px-md-2">
                                <input style="width : 300px;" nbInput status="basic" fullWidth fieldSize="giant" type="text" [(ngModel)]="text" name="termino" placeholder="Buscar Colaborador">
                            </div>
                            <div class="px-md-2">
                                <button nbButton status="primary" type="submit" size="giant">Buscar</button>
                            </div>
                        </div>
                    </div>
                </form>
                <nb-card-body>
                    <div [class.show]="modalTable" style="display: block;" *ngIf="!modalTable" class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <table class="table dark-table">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Nombre</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of myList">
                                        <td>{{ item.id_colab }}</td>
                                        <td>{{ item.nombre }}</td>
                                        <td>
                                            <button nbButton status="danger" type="button" size="medium" (click)="openModalUpdate(item)">Editar</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </table>
                    </div>
                    <div [class.show]="modalTable" style="display: block;" *ngIf="modalTable" class="table-responsive">
                        <table class="table dark-table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of myList2">
                                    <td>{{ item.id_colab }}</td>
                                    <td>{{ item.nombre }}</td>
                                    <td>
                                        <button nbButton status="danger" type="button" size="medium" (click)="openModalUpdate(item)">Editar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </nb-card-body>
            </nb-card-body>
        </nb-card>
    </div>
</div>



<div class="modal custom-modal" [class.show]="modalUpdate" style="display: block;" *ngIf="modalUpdate">
    <div class="modal-dialog">
        <div class="modal-content" style="margin-top: 30%; width: 1400px;background-color: rgb(47, 62, 106); right: 80%;">
            <div class="modal-header">
                <h style="font-weight: bold; color: rgb(255, 255, 255);">Edicion de Colaborador</h>
            </div>
            <div style="padding: 20px;"></div>
            <div class="modal-body">
                <form (ngSubmit)="updateColaborador()">
                    <div style="left: -0%;" class="col-md-8">
                        <div class="row">
                            <div class="px-md-1 col-md-4 form-group mx-auto text-center">
                                <div class="form-group">
                                    <label>Nombre</label>
                                    <input nbInput fullWidth status="danger" shape="semi-round" class="text-center" type="text" name="nombre" placeholder="Ingrese el nombre" #nombre="ngModel" [(ngModel)]="colaboradorUpdate.nombre" required minlength="5" [ngModelOptions]="{standalone: true}">
                                    <small *ngIf="!nombre.valid && nombre.touched " class="invalid-feedback d-block">El nombre no es válido</small>
                                </div>
                            </div>
                            <div class="px-md-1 col-md-4 form-group mx-auto text-center">
                                <div class="form-group">
                                    <label>Teléfono</label>
                                    <input nbInput fullWidth status="danger" shape="semi-round" class="text-center" type="text" name="telefono" placeholder="Ingrese el teléfono" #telefono="ngModel" [(ngModel)]="colaboradorCopy.telefono" required minlength="1" [ngModelOptions]="{standalone: true}">
                                    <small *ngIf="!telefono.valid && telefono.touched " class="invalid-feedback d-block">El teléfono no es válido</small>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class=" px-md-1 col-md-4 form-group mx-auto text-center">
                                <div class="form-group">
                                    <label>GitHub</label>
                                    <input nbInput fullWidth status="danger" shape="semi-round" class="text-center" type="text" name="github" placeholder="Ingrese el GitHub" #github="ngModel" [(ngModel)]="colaboradorCopy.github" [ngModelOptions]="{standalone: true}" required minlength="5">
                                    <small *ngIf="!github.valid && github.touched " class="invalid-feedback d-block">El GitHub no es válido</small>
                                </div>
                            </div>
                            <div class=" px-md-1 col-md-4 form-group mx-auto text-center">
                                <div class="form-group">
                                    <label>Correo</label>
                                    <input nbInput fullWidth status="danger" shape="semi-round" class="text-center" type="email" name="correo" placeholder="Ingrese el Correo" #correo="ngModel" [(ngModel)]="colaboradorCopy.correo" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                                        [ngModelOptions]="{standalone: true}" required minlength="5">
                                    <small *ngIf="!correo.valid && correo.touched " class="invalid-feedback d-block">El correo no es válido</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <nb-card class="text-center" status="danger" style="position: absolute; top: 4%; right: 5%;">
                            <nb-card-header>Foto</nb-card-header>
                            <nb-card-body>
                                <img src="{{this.getFotoUrlAddress}}storage/colaboradores/{{this.colaboradorUpdate.foto}}" alt="..." style="width: 250;; height: 150px; border-radius: 5%;">
                            </nb-card-body>
                            <nb-card-footer><input style="font-weight: bold; font-size: 15px; color: white;" type="file" accept=".jpeg, .png, .jpg" (change)="foto($event.target.files)" placeholder="Subir Foto" /></nb-card-footer>
                        </nb-card>
                    </div>
                    <div style="padding: 10px;"></div>
                    <div class="row">
                        <div style="position: relative; left: 5%;">
                            <button nbButton status="danger" type="submit" class="btn btn-fill btn-danger">Editar</button>
                        </div>
                        <div style="position: relative; left: 50%;">
                            <button nbButton status="primary" type="button" (click)="closeModal()" class="btn btn-primary">Cerrar</button>
                        </div>
                    </div>
                    <div style="padding: 20px;"></div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--<div class="title text-center">!We are Working to make this possible! :)</div>
<div class="text text-center">Thanks for ur understanding</div>-->