<nb-alert *ngIf="alert" status="success" closable (close)="closeAlert()">
    <div style="text-align: center;">!Registro realizado con exito! </div>
</nb-alert>

<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>
                <h5 class="title">Registrar Ticket</h5>
            </nb-card-header>
            <nb-card-body>
                <div style="padding: 10px;"></div>
                <form class="col-md-10" (ngSubmit)="registrarTicket()">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="label">Proyecto</label>
                            <nb-form-field>
                                <input nbInput fullWidth status="danger" shape="semi-round" [formControl]="form.get('proyecto')" #ProyectAuto type="text" (input)="onChangeProyect($event)" [nbAutocomplete]="autoProyect">
                                <nb-autocomplete #autoProyect (selectedChange)="onProyectSelected($event)">
                                    <nb-option *ngFor="let option of filtredProyects | async" [value]="option.nombre">
                                        {{ option.nombre }}
                                    </nb-option>
                                </nb-autocomplete>
                                <nb-icon nbSuffix icon="briefcase" pack="eva"></nb-icon>
                            </nb-form-field>
                        </div>
                        <div class="col-md-2">
                            <label class="label">Key Usuario</label>
                            <input nbInput fullWidth status="danger" shape="semi-round" type="text" name="key_usuario" #key_usuario="ngModel" [(ngModel)]="ticket.key_usuario" required minlength="1" [ngModelOptions]="{standalone: true}">
                            <small *ngIf="!key_usuario.valid && key_usuario.touched" class="invalid-feedback d-block">La Key Usuario no es válido</small>
                        </div>
                        <div class="col-md-4">
                            <label class="label">Título</label>
                            <nb-form-field>
                                <input nbInput fullWidth status="danger" shape="semi-round" type="text" name="titulo" #titulo="ngModel" [(ngModel)]="ticket.titulo" required minlength="5" [ngModelOptions]="{standalone: true}">
                                <nb-icon nbSuffix icon="file-text" pack="eva"></nb-icon>
                            </nb-form-field>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2">
                            <label class="label">Detalles</label>
                            <input nbInput fullWidth status="danger" shape="semi-round" type="text" name="detalles" #detalles="ngModel" [(ngModel)]="ticket.detalles" required minlength="5" [ngModelOptions]="{standalone: true}">
                        </div>
                        <div class="col-md-2">
                            <label class="label">Prioridad</label>
                            <nb-form-field>
                                <input nbInput fullWidth status="danger" shape="semi-round" [formControl]="form.get('prioridad')" #PrioridadAuto type="text" (input)="onChangePrioridad($event)" [nbAutocomplete]="autoPrioridad">
                                <nb-autocomplete #autoPrioridad (selectedChange)="onPrioridadSelected($event)">
                                    <nb-option *ngFor="let option of filtredPrioridades | async" [value]="option.nombre">
                                        {{ option.nombre }}
                                    </nb-option>
                                </nb-autocomplete>
                            </nb-form-field>
                        </div>
                        <div class="px-md-1" style="position: relative; top: 25px;">
                            <button nbButton status="danger" fullWidth type="submit"><nb-icon icon="plus-outline"></nb-icon></button>
                        </div>
                    </div>
                </form>
                <div style="padding: 10px;"></div>
            </nb-card-body>
        </nb-card>
    </div>
</div>