<div class=" row">
    <div class=" col-md-12">
        <nb-card status="primary">
            <nb-card-header>
                <h5 class=" title">Mis Tareas</h5>
            </nb-card-header>
            <nb-card-body>
                <form class="pl-md-3" (ngSubmit)="buscarTareas()">
                    <div class="row">
                        <div class="row align-items-center">
                            <div class="px-md-2">
                                <input nbInput fullWidth shape="semi-round" style="width : 600px;" fieldSize="giant" type="text" [(ngModel)]="text" name="text" placeholder="Buscar tarea">
                            </div>
                            <div class="px-md-2">
                                <button nbButton status="primary" type="submit" size="giant"><nb-icon icon="search-outline"></nb-icon></button>
                            </div>
                        </div>
                    </div>
                </form>
                <nb-card-body>
                    <div [class.show]="modalTable" style="display: block;" *ngIf="!modalTable" class="table-responsive">
                        <table class="table dark-table ">
                            <thead style="background-color: #27598F">
                                <tr>
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>Estatus</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of myList">
                                    <td>{{ item.tarea.id_tarea }}</td>
                                    <td>{{ item.tarea.nombre }}</td>
                                    <td>{{ item.estatus.nombre }}</td>
                                    <td>
                                        <button nbButton status="primary" type="button" size="medium" (click)="openModal(item.tarea.id_tarea, history)">Reporte</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="custom-pagination">
                            <button nbButton shape="semi-round" status="info" (click)="preview()">Anterior</button>
                            <button nbButton shape="semi-round" status="info" (click)="next()">Siguiente</button>
                        </div>
                    </div>
                    <div [class.show]="modalTable" style="display: block;" *ngIf="modalTable" class="table-responsive">
                        <table class="table dark-table ">
                            <thead style="background-color: #27598F">
                                <tr>
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>Estatus</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of myList2">
                                    <td>{{ item.tarea.id_tarea }}</td>
                                    <td>{{ item.tarea.nombre }}</td>
                                    <td>{{ item.estatus.nombre }}</td>
                                    <td>
                                        <button nbButton status="primary" type="button" size="medium" (click)="openModal(item.tarea.id_tarea, history)">Reporte</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="custom-pagination">
                            <button nbButton shape="semi-round" status="info" (click)="preview()">Anterior</button>
                            <button nbButton shape="semi-round" status="info" (click)="next()">Siguiente</button>
                        </div>
                    </div>
                </nb-card-body>
            </nb-card-body>
        </nb-card>
    </div>
</div>


<ng-template #history let-data let-ref="dialogRef">
    <div class="row">
        <div class="col-md-10">
            <div class="row">
                <nb-card status="danger" style="width: 600px; max-height: 900px; overflow-y: auto;">
                    <nb-card-header>Descripción</nb-card-header>
                    <nb-card-body>
                        <textarea nbInput fullWidth name="descripcion_update" #ngModelDescripcionUpdate="ngModel" [ngModelOptions]="{standalone: true}" [(ngModel)]="descripcion_update" required minlength="5"></textarea>
                        <div class="row">
                            <div class="col">
                                <button nbButton shape="semi-round" status="info" (click)="createHistorial()">Enviar</button>
                            </div>
                            <div class="col text-right">
                                <button nbButton status="danger" type="button" (click)="closeModal()">Cerrar</button>
                            </div>
                        </div>
                    </nb-card-body>
                </nb-card>
            </div>
        </div>
    </div>
</ng-template>