<nb-alert *ngIf="alert" status="success" closable (close)="closeAlert()">
    <div style="text-align: center;">!Registro realizado con exito! </div>
</nb-alert>

<nb-alert *ngIf="alertUpdate" status="success" closable (close)="closeAlert()">
    <div style="text-align: center;">!Actualización realizada con exito! </div>
</nb-alert>

<div class="row">
    <div class="col-md-12">
        <nb-card status="primary" style="height: 420px;">
            <nb-card-header>
                <h5 class="title">Registro de Proyectos</h5>
            </nb-card-header>
            <nb-card-body>
                <div style="padding: 10px;"></div>
                <form class="col-md-10" (ngSubmit)="registrarProyecto()">
                    <div class="form-group row">
                        <div class="col-md-3">
                            <label class="label">Nombre</label>
                            <nb-form-field>
                                <input nbInput fullWidth status="danger" shape="semi-round" type="text" name="nombre" #nombre="ngModel" [(ngModel)]="proyecto.nombre" required minlength="5" [ngModelOptions]="{standalone: true}">
                                <nb-icon nbSuffix icon="file-text" pack="eva"></nb-icon>
                            </nb-form-field>
                        </div>
                        <div class="col-md-3">
                            <label class="label">Equipo</label>
                            <nb-form-field>
                                <input nbInput fullWidth status="danger" shape="semi-round" [formControl]="form.get('equipo')" #EquipoAuto type="text" (input)="onChange($event)" [nbAutocomplete]="autoEquipo">
                                <nb-autocomplete #autoEquipo (selectedChange)="onSelectionChange($event)">
                                    <nb-option *ngFor="let option of filteredEquipos | async" [value]="option.nombre">
                                        {{ option.nombre }}
                                    </nb-option>
                                </nb-autocomplete>
                                <nb-icon nbSuffix icon="people" pack="eva"></nb-icon>
                            </nb-form-field>
                        </div>
                        <div class="row justify-content-end">
                            <nb-card class="text-center" status="danger" style="position: absolute; top: -0%; right: -0%; background-color: rgb(47, 62, 106);">
                                <nb-card-header>Foto</nb-card-header>
                                <nb-card-body>
                                    <img *ngIf="fotoAlert" src="./assets/images/proyect.jpg" alt="..." style="width: 250;; height: 150px; border-radius: 5%;">
                                    <img *ngIf="!fotoAlert" [src]="getFotoUrl()" style="width: 250;; height: 150px; border-radius: 5%;">
                                </nb-card-body>
                                <nb-card-footer><input style="font-weight: bold; font-size: 15px; color: white;" type="file" accept=".jpeg, .png, .jpg" (change)="foto($event.target.files)" placeholder="Subir Foto" /></nb-card-footer>
                            </nb-card>
                        </div>
                        <div class="px-md-1" style="position: relative; top: 100px; right: -750px;">
                            <button nbButton status="danger" type="submit" size="giant"><nb-icon icon="plus-outline"></nb-icon></button>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2">
                            <label class="label">Detalles</label>
                            <nb-form-field>
                                <textarea nbInput fullWidth status="danger" shape="semi-round" type="text" name="detalles" #detalles="ngModel" [(ngModel)]="proyecto.detalles" [ngModelOptions]="{standalone: true}" required minlength="5" style="width: 800px; height: 160px;"></textarea>
                            </nb-form-field>
                            <!-- <nb-icon nbSuffix icon="edit-2" pack="eva"></nb-icon> -->
                        </div>
                    </div>
                </form>
            </nb-card-body>
        </nb-card>
        <nb-card status="danger">
            <nb-card-body>
                <form class="pl-md-3" (ngSubmit)="buscarProyectos()">
                    <div class="row">
                        <div class="row align-items-center">
                            <div class="px-md-2">
                                <input nbInput fullWidth shape="semi-round" style="width : 600px;" fieldSize="giant" type="text" [(ngModel)]="text" name="text" placeholder="Buscar Proyecto">
                            </div>
                            <div class="px-md-2">
                                <button nbButton status="primary" type="submit" size="giant"><nb-icon icon="search-outline"></nb-icon></button>
                            </div>
                        </div>
                    </div>
                </form>
                <nb-card-body>
                    <div [class.show]="modalTable" style="display: block;" *ngIf="!modalTable" class="table-responsive">
                        <table class="table dark-table">
                            <thead style="background-color: #27598F">
                                <tr>
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>Equipo</th>
                                    <th> </th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of myList">
                                    <td>{{ item.id_proyecto }}</td>
                                    <td>{{ item.nombre }}</td>
                                    <td>{{ item.nombre_equipo }}</td>
                                    <td> <button nbButton status="primary" type="button" size="medium" (click)="getImagen(imagen, item)"><nb-icon nbSuffix icon="image" pack="eva"></nb-icon></button> </td>
                                    <td>
                                        <button nbButton status="danger" type="button" size="medium" (click)="openModalUpdate(item, modalUpdate)"><nb-icon nbSuffix icon="edit-2" pack="eva"></nb-icon> </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="custom-pagination">
                            <button nbButton shape="semi-round" status="info" (click)="preview()">Anterior</button>
                            <button nbButton shape="semi-round" status="info" (click)="next()">Siguiente</button>
                        </div>
                    </div>
                    <div [class.show]="modalTable" style="display: block;" *ngIf="modalTable" class="table-responsive">
                        <table class="table dark-table">
                            <thead style="background-color: #27598F">
                                <tr>
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>Equipo</th>
                                    <th> </th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of myList2">
                                    <td>{{ item.id_proyecto }}</td>
                                    <td>{{ item.nombre }}</td>
                                    <td>{{ item.nombre_equipo }}</td>
                                    <td> <button nbButton status="primary" type="button" size="medium" (click)="getImagen(imagen, item)"><nb-icon nbSuffix icon="image" pack="eva"></nb-icon></button> </td>
                                    <td>
                                        <button nbButton status="danger" type="button" size="medium" (click)="openModalUpdate(item, modalUpdate)"><nb-icon nbSuffix icon="edit-2" pack="eva"></nb-icon> </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="custom-pagination">
                            <button nbButton shape="semi-round" status="info" (click)="preview()">Anterior</button>
                            <button nbButton shape="semi-round" status="info" (click)="next()">Siguiente</button>
                        </div>
                    </div>
                </nb-card-body>
            </nb-card-body>
        </nb-card>
    </div>
</div>

<ng-template #modalUpdate let-data let-ref="dialogRef">
    <div class="row">
        <div class="col-md-10">
            <div class="row">
                <nb-card status="danger" style="width: 1200px; height: 520px;">
                    <nb-card-header>Editor</nb-card-header>
                    <nb-card-body>
                        <form class="col-md-12" (ngSubmit)="updateProyecto()">
                            <div class="px-md-4 col-md-6 form-group">
                                <label class="label">Nombre</label>
                                <nb-form-field>
                                    <input nbInput fullWidth status="danger" shape="semi-round" type="text" name="nombre" #nombre="ngModel" [(ngModel)]="proyectoCopy.nombre" required minlength="5" [ngModelOptions]="{standalone: true}">
                                    <nb-icon nbSuffix icon="file-text" pack="eva"></nb-icon>
                                </nb-form-field>
                            </div>
                            <div class="px-md-4 col-md-6 form-group">
                                <label class="label">Equipo</label>
                                <nb-form-field>
                                    <input nbInput fullWidth status="danger" shape="semi-round" [formControl]="form.get('equipoModal')" #EquipoModalAuto type="text" (input)="onChangeModal($event)" [nbAutocomplete]="autoEquipoModal" readonly>
                                    <nb-autocomplete #autoEquipoModal (selectedChange)="onSelectionModalChange($event)">
                                        <nb-option *ngFor="let option of filteredEquiposModal | async" [value]="option.nombre">
                                            {{ option.nombre }}
                                        </nb-option>
                                    </nb-autocomplete>
                                    <nb-icon nbSuffix icon="people" pack="eva"></nb-icon>
                                </nb-form-field>
                            </div>
                            <div class="row justify-content-end">
                                <nb-card class="text-center" status="danger" style="position: fixed; top: 30%; right: 32%;">
                                    <nb-card-header>Foto</nb-card-header>
                                    <nb-card-body>
                                        <img *ngIf="fotoAlertUpdate" src="{{this.getFotoUrlAddress}}storage/proyectos/{{this.image}}" alt="..." style="width: 250;; height: 150px; border-radius: 5%;">
                                        <img *ngIf="!fotoAlertUpdate" [src]="getFotoUrlUpdate()" alt="..." style="width: 250;; height: 150px; border-radius: 5%;">
                                    </nb-card-body>
                                    <nb-card-footer><input style="font-weight: bold; font-size: 15px; color: white;" type="file" accept=".jpeg, .png, .jpg" (change)="fotoUpdate($event.target.files)" placeholder="Subir Foto" /></nb-card-footer>
                                </nb-card>
                            </div>
                            <!--
                                <div class="col-md-3">
                                    <label class="label">Imagen</label>
                                    <nb-form-field>
                                        <input nbInput fullWidth status="danger" shape="semi-round" class="text-center" type="text" name="imagen" #imagen="ngModel" [(ngModel)]="proyectoCopy.imagen" [ngModelOptions]="{standalone: true}" required minlength="1">
                                        <nb-icon nbSuffix icon="file-text" pack="eva"></nb-icon>
                                    </nb-form-field>
                                </div>
                                -->
                            <div class="px-md-4 col-md-6 form-group">
                                <label class="label">Detalles</label>
                                <nb-form-field>
                                    <textarea nbInput fullWidth status="danger" rows="4" shape="semi-round" type="text" name="detalles" #detalles="ngModel" [(ngModel)]="proyectoCopy.detalles" [ngModelOptions]="{standalone: true}" required minlength="5"></textarea>
                                    <nb-icon nbSuffix icon="file-text" pack="eva"></nb-icon>
                                </nb-form-field>
                            </div>
                            <div style="padding: 20px;"></div>
                            <div class="row">
                                <div class="col" style="margin-bottom: 20px;">
                                    <button nbButton status="danger" size="medium" type="submit">Editar</button>
                                </div>
                                <!--<nb-icon nbSuffix icon="edit-2" pack="eva"></nb-icon>-->
                                <div class="col text-right" style="margin-bottom: 20px;">
                                    <button nbButton status="primary" size="medium" type="button" (click)="closeModal()">Cerrar</button>
                                </div>
                            </div>
                        </form>
                    </nb-card-body>
                </nb-card>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #description let-data let-ref="dialogRef">
    <div class="row">
        <div class="col-md-10">
            <div class="row">
                <nb-card status="danger" style="width: 600px; max-height: 900px; overflow-y: auto;">
                    <nb-card-header>Descripción</nb-card-header>
                    <nb-card-body>
                        <textarea nbInput fullWidth name="detalles" #detalles="ngModel" [(ngModel)]="proyecto.detalles" [ngModelOptions]="{standalone: true}" required minlength="5"></textarea>
                    </nb-card-body>
                </nb-card>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #imagen let-data let-ref="dialogRef">
    <div class="row">
        <div class="col-md-10">
            <div class="row">
                <nb-card status="danger" style="width: 600px; max-height: 900px; overflow-y: auto;">
                    <nb-card-header>Foto</nb-card-header>
                    <nb-card-body>
                        <div class="row">
                            <img src="{{this.getFotoUrlAddress}}storage/proyectos/{{this.image}}" alt="..." style="width: 250;; height: 150px; border-radius: 5%;">
                            <div class="pl-md-3">
                                <textarea nbInput status="danger" shape="semi-round" type="text" [value]="detalles_proyecto" readonly></textarea>
                            </div>
                        </div>
                    </nb-card-body>
                    <!--
                    <nb-card-footer>
                        <div class="col text-right">
                            <button nbButton status="primary" size="medium" type="button" (click)="closeImagen()">Cerrar</button>
                        </div>
                    </nb-card-footer>
                    -->
                </nb-card>
            </div>
        </div>
    </div>
</ng-template>