<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>
                <h5 class="title">Registro de Proyectos</h5>
            </nb-card-header>
            <nb-card-body>
                <div class="modal" *ngIf="modalRegister">
                    <form class="contact-form" method="POST" #registrarProyectoForm="ngForm" (ngSubmit)="registrarProyecto(registrarProyectoForm)">
                        <style>
                            form {
                                margin: auto;
                                width: 95%;
                            }
                        </style>
                        <div class="row">
                            <div class="col-md-6 px-md-1">
                                <div class="form-group">
                                    <label>Nombre</label>
                                    <input class="form-control" type="text" name="nombre" placeholder="Ingrese el nombre" #nombre="ngModel" [(ngModel)]="proyecto.nombre" required minlength="5" [ngModelOptions]="{standalone: true}">
                                    <small *ngIf="!nombre.valid && nombre.touched" class="invalid-feedback d-block">El nombre no es válido</small>
                                </div>
                            </div>
                            <div class="col-md-6 px-md-1">
                                <div class="form-group">
                                    <label>Key Equipo</label>
                                    <input class="form-control" type="text" name="key_equipo" placeholder="Ingrese la key equipo" #key_equipo="ngModel" [(ngModel)]="proyecto.key_equipo" required minlength="1" [ngModelOptions]="{standalone: true}">
                                    <small *ngIf="!key_equipo.valid && key_equipo.touched" class="invalid-feedback d-block">La key equipo no es válida</small>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 px-md-1">
                                <div class="form-group">
                                    <label>Imagen</label>
                                    <input class="form-control" type="text" name="imagen" placeholder="Ingrese la imagen" #imagen="ngModel" [(ngModel)]="proyecto.imagen" [ngModelOptions]="{standalone: true}" required minlength="1">
                                    <small *ngIf="!imagen.valid && imagen.touched" class="invalid-feedback d-block">La imagen no es válida</small>
                                </div>
                            </div>
                            <div class="col-md-6 px-md-1">
                                <div class="form-group">
                                    <label>Detalles</label>
                                    <input class="form-control" type="text" name="detalles" placeholder="Ingrese los detalles" #detalles="ngModel" [(ngModel)]="proyecto.detalles" [ngModelOptions]="{standalone: true}" required minlength="5">
                                    <small *ngIf="!detalles.valid && detalles.touched" class="invalid-feedback d-block">Los detalles no son válidos</small>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button [disabled]="registrarProyectoForm.invalid" type="submit" class="btn btn-fill btn-danger">
                    <span>Registrar</span>
                  </button>
                            <button type="button" (click)="closeModal()" class="btn btn-primary">Cerrar</button>
                        </div>
                    </form>
                </div>
                <div class="modal" *ngIf="modalUpdate">
                    <form class="contact-form" method="POST" (ngSubmit)="updateProyecto(updateProyectoForm)">
                        <style>
                            form {
                                margin: auto;
                                width: 95%;
                            }
                        </style>
                        <div class="row">
                            <input name="id_proyecto" [(ngModel)]="proyecto.id_proyecto" [ngModelOptions]="{standalone: true}" hidden="">
                            <div class="col-md-6 px-md-1">
                                <div class="form-group">
                                    <label>Nombre</label>
                                    <input class="form-control" type="text" name="nombre" placeholder="Ingrese el nombre" #nombre="ngModel" [(ngModel)]="proyecto.nombre" required minlength="5" [ngModelOptions]="{standalone: true}">
                                    <small *ngIf="!nombre.valid && nombre.touched" class="invalid-feedback d-block">El nombre no es válido</small>
                                </div>
                            </div>
                            <div class="col-md-6 px-md-1">
                                <div class="form-group">
                                    <label>Key Equipo</label>
                                    <input class="form-control" type="text" name="key_equipo" placeholder="Ingrese la key equipo" #key_equipo="ngModel" [(ngModel)]="proyecto.key_equipo" required minlength="1" [ngModelOptions]="{standalone: true}">
                                    <small *ngIf="!key_equipo.valid && key_equipo.touched" class="invalid-feedback d-block">La key equipo no es válida</small>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 px-md-1">
                                <div class="form-group">
                                    <label>Imagen</label>
                                    <input class="form-control" type="text" name="imagen" placeholder="Ingrese la imagen" #imagen="ngModel" [(ngModel)]="proyecto.imagen" [ngModelOptions]="{standalone: true}" required minlength="1">
                                    <small *ngIf="!imagen.valid && imagen.touched" class="invalid-feedback d-block">La imagen no es válida</small>
                                </div>
                            </div>
                            <div class="col-md-6 px-md-1">
                                <div class="form-group">
                                    <label>Detalles</label>
                                    <input class="form-control" type="text" name="detalles" placeholder="Ingrese los detalles" #detalles="ngModel" [(ngModel)]="proyecto.detalles" [ngModelOptions]="{standalone: true}" required minlength="5">
                                    <small *ngIf="!detalles.valid && detalles.touched" class="invalid-feedback d-block">Los detalles no son válidos</small>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button [disabled]="updateProyectoForm.invalid" type="submit" class="btn btn-fill btn-danger">
                    <span>Editar</span>
                  </button>
                            <button type="button" (click)="closeModal()" class="btn btn-primary">Cerrar</button>
                        </div>
                    </form>
                </div>
                <form (ngSubmit)="buscarProyectos()">
                    <div class="row">
                        <div class="row align-items-center">
                            <div class="px-md-2">
                                <input style="width : 300px;" nbInput status="basic" fullWidth fieldSize="giant" type="text" [(ngModel)]="termino" name="termino" placeholder="Buscar Proyecto">
                            </div>
                            <div class="px-md-2">
                                <button nbButton status="primary" type="submit" size="giant">Buscar</button>
                            </div>
                            <div class="px-md-2">
                                <button nbButton status="danger" type="button" size="giant" (click)="openModal()">Registrar</button>
                            </div>
                        </div>
                    </div>
                </form>
                <nb-card-body>
                    <div class="table-responsive">
                        <table class="table dark-table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of myList">
                                    <td>{{ item.id_proyecto }}</td>
                                    <td>{{ item.nombre }}</td>
                                    <td>
                                        <button nbButton status="danger" type="button" size="medium" (click)="openModalUpdate(item.id_proyecto)">Editar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </nb-card-body>
            </nb-card-body>
        </nb-card>
    </div>
</div>