<div class=" row">
    <div class=" col-md-12">
        <nb-card>
            <nb-card-header>
                <h5 class=" title">Registrar Estatus de Tareas</h5>
            </nb-card-header>
            <nb-card-body>
                <div class="modal" *ngIf="modalRegister">
                    <form class="contact-form" method="POST" #registrarEstatusTareaForm="ngForm" (ngSubmit)="registrarEstatusTarea(registrarEstatusTareaForm)">
                        <style>
                            form {
                                margin: auto;
                                width: 95%;
                                /* ajusta el ancho según tus necesidades */
                            }
                        </style>
                        <div class=" row">
                            <div class=" col-md-6 px-md-1">
                                <div class=" form-group">
                                    <label> Nombre </label>
                                    <input class=" form-control" type="text" name="nombre" placeholder="Ingrese el nombre" #nombre="ngModel" [(ngModel)]="estatustarea.nombre" required minlength="5" [ngModelOptions]="{standasalone: true}">
                                    <small *ngIf="!nombre.valid && nombre.touched" class="invalid-feedback d-block"> El nombre no es
                    válido </small>
                                </div>
                            </div>
                        </div>
                        <div class=" card-footer">
                            <button [disabled]="registrarEstatusTareaForm.invalid" type="submit" class="btn btn-fill btn-danger">
                <span>Registrar</span>
              </button>
                            <button type="button" (click)="closeModal()" class="btn btn-primary">Cerrar</button>
                        </div>
                    </form>
                </div>
                <div class="modal" *ngIf="modalUpdate">
                    <form class="contact-form" method="POST" (ngSubmit)="updateEstatusTarea(updateEstatusTareaForm)">
                        <style>
                            form {
                                margin: auto;
                                width: 95%;
                                /* ajusta el ancho según tus necesidades */
                            }
                        </style>
                        <div class=" row">
                            <input name="id_estatus" [(ngModel)]="estatustarea.id_estatus" [ngModelOptions]="{standalone: true}" hidden="">
                            <div class=" col-md-6 px-md-1">
                                <div class=" form-group">
                                    <label> Nombre </label>
                                    <input class=" form-control" type="text" name="nombre" placeholder="Ingrese el nombre" #nombre="ngModel" [(ngModel)]="estatustarea.nombre" required minlength="5" [ngModelOptions]="{standasalone: true}">
                                    <small *ngIf="!nombre.valid && nombre.touched" class="invalid-feedback d-block"> El nombre no es
                    válido </small>
                                </div>
                            </div>
                        </div>
                        <div class=" card-footer">
                            <button [disabled]="updateEstatusTareaForm.invalid" type="submit" class="btn btn-fill btn-danger">
                <span>Editar</span>
              </button>
                            <button type="button" (click)="closeModal()" class="btn btn-primary">Cerrar</button>
                        </div>
                    </form>
                </div>
                <form (ngSubmit)="buscarEstatusTareas()">
                    <div class="row">
                        <div class="row align-items-center">
                            <div class="px-md-2">
                                <input nbInput style="width : 300px;" nbInput status="basic" fullWidth fieldSize="giant" type="text" [(ngModel)]="termino" name="termino" placeholder="Buscar Estatus Tarea">
                            </div>
                            <div class="px-md-2">
                                <button nbButton status="primary" type="submit" size="giant">Buscar</button>
                            </div>
                            <div class="px-md-2">
                                <button nbButton status="danger" type="button" size="giant" (click)="openModal()">Registrar</button>
                            </div>
                        </div>
                    </div>
                </form>
                <nb-card-body>
                    <div class="table-responsive">
                        <table class="table dark-table ">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of myList">
                                    <td>{{ item.id_estatus }}</td>
                                    <td>{{ item.nombre }}</td>
                                    <td>
                                        <button nbButton status="danger" type="button" size="medium" (click)="openModalUpdate(item.id_estatus)">Editar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </nb-card-body>
            </nb-card-body>
        </nb-card>
    </div>
</div>