<nb-alert *ngIf="alert" status="success" closable (close)="closeAlert()">
    <div style="text-align: center;">!Registro realizado con exito! </div>
</nb-alert>

<nb-alert *ngIf="alertUpdate" status="success" closable (close)="closeAlert()">
    <div style="text-align: center;">!Actualización realizada con exito! </div>
</nb-alert>

<div class=" row">
    <div class=" col-md-12">
        <nb-card>
            <nb-card-header>
                <h5 class=" title">Registrar Epica</h5>
            </nb-card-header>
            <nb-card-body>
                <h6 class="title text-center">Registrar una nueva Epica</h6>
                <div style="padding: 10px;"></div>
                <form style="position: relative; left: 8%;" class="col-md-10" (ngSubmit)="registrarEpica()">
                    <div style="position: relative; left: 25%;">
                        <div class=" row">
                            <div class="col-md-6 px-md-4 text-center">
                                <div class=" form-group">
                                    <label> Nombre </label>
                                    <input nbInput fullWidth status="danger" class="text-center" shape="semi-round" type="text" name="nombre" placeholder="Ingresa el nombre" #nombre="ngModel" [(ngModel)]="epica.nombre" required minlength="5" [ngModelOptions]="{standasalone: true}">
                                    <small *ngIf="!nombre.valid && nombre.touched && epica.nombre !== ''" class="invalid-feedback d-block"> El nombre no es
                    válido </small>
                                </div>
                            </div>
                        </div>
                        <div class=" row">
                            <div class="col-md-6 px-md-4 text-center">
                                <div class=" form-group">
                                    <label for="form-control"> Proyecto </label>
                                    <input nbInput fullWidth status="danger" class="text-center" shape="semi-round" type="text" name="proyecto" placeholder="Ingrese el proyecto" #proyecto="ngModel" [ngModelOptions]="{standalone: true}" [(ngModel)]="epica.proyecto" required minlength="5">
                                    <small *ngIf="!proyecto.valid && proyecto.touched && epica.proyecto !== ''" class="invalid-feedback d-block"> El proyecto no es
                    válido </small>
                                </div>
                            </div>
                        </div>
                        <div class=" row">
                            <div class="col-md-6 px-md-4 text-center">
                                <div class=" form-group">
                                    <label for="form-control"> Descripción </label>
                                    <input nbInput fullWidth status="danger" class="text-center" shape="semi-round" type="text" name="descripcion" placeholder="Ingrese la descripcion" #descripcion="ngModel" [ngModelOptions]="{standalone: true}" [(ngModel)]="epica.descripcion" required minlength="10">
                                    <small *ngIf="!descripcion.valid && descripcion.touched && epica.descripcion !== ''" class="invalid-feedback d-block"> La
                    descripcion no es válida </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="padding: 10px;"></div>
                    <div class="text-center">
                        <button nbButton status="danger" type="submit">Registrar</button>
                    </div>
                </form>
                <div style="padding: 30px;"></div>
                <form class="pl-md-5" (ngSubmit)="buscarEpicas()">
                    <div class="row">
                        <div class="row align-items-center">
                            <div class="px-md-2">
                                <input nbInput fullWidth shape="semi-round" style="width : 600px;" nbInput status="basic" fullWidth fieldSize="giant" type="text" [(ngModel)]="text" name="text" placeholder="Buscar Epicas">
                            </div>
                            <div class="px-md-2">
                                <button nbButton status="primary" type="submit" size="giant">Buscar</button>
                            </div>
                        </div>
                    </div>
                </form>
                <nb-card-body>
                    <div [class.show]="modalTable" style="display: block;" *ngIf="!modalTable" class="table-responsive">
                        <table class="table dark-table ">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of myList">
                                    <td>{{ item.id_epica }}</td>
                                    <td>{{ item.nombre }}</td>
                                    <td>
                                        <button nbButton status="danger" type="button" size="medium" (click)="openModalUpdate(item)">Editar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div [class.show]="modalTable" style="display: block;" *ngIf="modalTable" class="table-responsive">
                        <table class="table dark-table ">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of myList2">
                                    <td>{{ item.id_epica }}</td>
                                    <td>{{ item.nombre }}</td>
                                    <td>
                                        <button nbButton status="danger" type="button" size="medium" (click)="openModalUpdate(item)">Editar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </nb-card-body>
            </nb-card-body>
        </nb-card>
    </div>
</div>

<div class="modal" [class.show]="modalUpdate" style="display: block;" *ngIf="modalUpdate">
    <div class="modal-dialog">
        <div class="modal-content" style=" margin-top: 30%; width: 1200px; height: 600px; background-color: rgb(47, 62, 106); right: 55%;">
            <div class="modal-header">
                <h style="font-weight: bold; color: rgb(255, 255, 255);">Edicion de Epica</h>
            </div>
            <div style="padding: 30px;"></div>
            <div class="modal-body">
                <form class="col-md-10" style="left: 8%;" (ngSubmit)="updateEpica()">
                    <div class=" row">
                        <div class="col-md-6 px-md-4 text-center mx-auto">
                            <div class=" form-group">
                                <label> Nombre </label>
                                <input nbInput fullWidth status="danger" class="text-center" shape="semi-round" type="text" name="nombre" placeholder="Ingresa el nombre" #nombre="ngModel" [(ngModel)]="epicaCopy.nombre" required minlength="5" [ngModelOptions]="{standasalone: true}">
                                <small *ngIf="!nombre.valid && nombre.touched" class="invalid-feedback d-block"> El nombre no es
                válido </small>
                            </div>
                        </div>
                    </div>
                    <div class=" row">
                        <div class="col-md-6 px-md-4 text-center mx-auto">
                            <div class=" form-group">
                                <label for="form-control"> Proyecto </label>
                                <input nbInput fullWidth status="danger" class="text-center" shape="semi-round" type="text" name="proyecto" placeholder="Ingrese el proyecto" #proyecto="ngModel" [ngModelOptions]="{standalone: true}" [(ngModel)]="epicaCopy.proyecto" required minlength="5">
                                <small *ngIf="!proyecto.valid && proyecto.touched" class="invalid-feedback d-block"> El proyecto no es
                válido </small>
                            </div>
                        </div>
                    </div>
                    <div class=" row">
                        <div class="col-md-6 px-md-4 text-center mx-auto">
                            <div class=" form-group">
                                <label for="form-control"> Descripción </label>
                                <input nbInput fullWidth status="danger" class="text-center" shape="semi-round" type="text" name="descripcion" placeholder="Ingrese la descripcion" #descripcion="ngModel" [ngModelOptions]="{standalone: true}" [(ngModel)]="epicaCopy.descripcion" required
                                    minlength="10">
                                <small *ngIf="!descripcion.valid && descripcion.touched" class="invalid-feedback d-block"> La
                descripcion no es válida </small>
                            </div>
                        </div>
                    </div>
                    <div style="padding: 20px;"></div>
                    <div class="row">
                        <div class="col">
                            <button nbButton status="danger" size="medium" type="submit" class="btn btn-fill btn-danger">Editar</button>
                        </div>
                        <div class="col text-right">
                            <button nbButton status="primary" size="medium" type="button" (click)="closeModal()" class="btn btn-primary">Cerrar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>