<nb-alert *ngIf="alert" status="success" closable (close)="closeAlert()">
    <div style="text-align: center;">!Registro realizado con exito! </div>
</nb-alert>

<nb-alert *ngIf="alertUpdate" status="success" closable (close)="closeAlert()">
    <div style="text-align: center;">!Actualización realizada con exito! </div>
</nb-alert>

<div class=" row">
    <div class=" col-md-12">
        <nb-card status="danger">
            <nb-card-header>
                <h5 class=" title">Registrar Epica</h5>
            </nb-card-header>
            <nb-card-body>
                <div style="padding: 10px;"></div>
                <form class="col-md-10" (ngSubmit)="registrarEpica()">
                    <div class=" row">
                        <div class="col-md-3">
                            <label class="label"> Nombre </label>
                            <nb-form-field>
                                <input nbInput fullWidth status="danger" class="text-center" shape="semi-round" type="text" name="nombre" #nombre="ngModel" [(ngModel)]="epica.nombre" required minlength="5" [ngModelOptions]="{standasalone: true}">
                                <nb-icon nbSuffix icon="archive" pack="eva"></nb-icon>
                            </nb-form-field>
                        </div>
                        <div class="col-md-3">
                            <label class="label"> Proyecto </label>
                            <nb-form-field>
                                <input nbInput fullWidth status="danger" shape="semi-round" [formControl]="form.get('proyecto')" #ProyectAuto type="text" (input)="onChangeProyect($event)" [nbAutocomplete]="autoProyect">
                                <nb-autocomplete #autoProyect (selectedChange)="onProyectSelected($event)">
                                    <nb-option *ngFor="let option of filtredProyects | async" [value]="option.nombre">
                                        {{ option.nombre }}
                                    </nb-option>
                                </nb-autocomplete>
                                <nb-icon nbSuffix icon="briefcase" pack="eva"></nb-icon>
                            </nb-form-field>
                        </div>
                        <div class="col-md-3">
                            <label class="label"> Descripción </label>
                            <nb-form-field>
                                <input nbInput fullWidth status="danger" class="text-center" shape="semi-round" (click)="openModalDescription(description)" readonly>
                                <nb-icon nbSuffix icon="edit-2" pack="eva"></nb-icon>
                            </nb-form-field>
                        </div>
                        <div class="px-md-1" style="position: relative; top: 25px;">
                            <button nbButton status="danger" fullWidth type="submit"><nb-icon icon="plus-outline"></nb-icon></button>
                        </div>
                    </div>
                    <div style="padding: 10px;"></div>
                </form>
            </nb-card-body>
        </nb-card>
        <nb-card status="danger">
            <nb-card-body>
                <form class="pl-md-3" (ngSubmit)="buscarEpicas()">
                    <div class="row">
                        <div class="row align-items-center">
                            <div class="px-md-2">
                                <input nbInput fullWidth shape="semi-round" style="width : 600px;" nbInput status="basic" fullWidth fieldSize="giant" type="text" [(ngModel)]="text" name="text" placeholder="Buscar Epicas">
                            </div>
                            <div class="px-md-2">
                                <button nbButton status="primary" type="submit" size="giant"><nb-icon icon="search-outline"></nb-icon></button>
                            </div>
                        </div>
                    </div>
                </form>
                <nb-card-body>
                    <div [class.show]="modalTable" style="display: block;" *ngIf="!modalTable" class="table-responsive">
                        <table class="table dark-table ">
                            <thead style="background-color: #27598F">
                                <tr>
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>Proyecto</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of myList">
                                    <td>{{ item.id_epica }}</td>
                                    <td>{{ item.nombre }}</td>
                                    <td>{{ item.proyecto }}</td>
                                    <td>
                                        <button nbButton status="danger" type="button" size="medium" (click)="openModalUpdate(item, modalUpdate)"><nb-icon nbSuffix icon="edit-2" pack="eva"></nb-icon></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="custom-pagination">
                            <button nbButton shape="semi-round" status="info" (click)="preview()">Anterior</button>
                            <button nbButton shape="semi-round" status="info" (click)="next()">Siguiente</button>
                        </div>
                    </div>
                    <div [class.show]="modalTable" style="display: block;" *ngIf="modalTable" class="table-responsive">
                        <table class="table dark-table ">
                            <thead style="background-color: #27598F">
                                <tr>
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>Proyecto</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of myList2">
                                    <td>{{ item.id_epica }}</td>
                                    <td>{{ item.nombre }}</td>
                                    <td>{{ item.proyecto }}</td>
                                    <td>
                                        <button nbButton status="danger" type="button" size="medium" (click)="openModalUpdate(item, modalUpdate)"><nb-icon nbSuffix icon="edit-2" pack="eva"></nb-icon></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="custom-pagination">
                            <button nbButton shape="semi-round" status="info" (click)="preview()">Anterior</button>
                            <button nbButton shape="semi-round" status="info" (click)="next()">Siguiente</button>
                        </div>
                    </div>
                </nb-card-body>
            </nb-card-body>
        </nb-card>
    </div>
</div>

<ng-template #modalUpdate let-data let-ref="dialogRef">
    <div class="row">
        <div class="col-md-10">
            <div class="row">
                <nb-card status="danger" style="width: 800px; max-height: 800px;">
                    <nb-card-header>Editor</nb-card-header>
                    <nb-card-body>
                        <form class="col-md-12" (ngSubmit)="updateEpica()">
                            <div class="row">
                                <div class="px-md-4 col-md-6 form-group">
                                    <label class="label"> Nombre </label>
                                    <nb-form-field>
                                        <input nbInput fullWidth status="danger" shape="semi-round" type="text" name="nombre" placeholder="Ingresa el nombre" #nombre="ngModel" [(ngModel)]="epicaCopy.nombre" required minlength="5" [ngModelOptions]="{standasalone: true}">
                                        <nb-icon nbSuffix icon="archive" pack="eva"></nb-icon>
                                    </nb-form-field>
                                </div>
                                <div class="px-md-4 col-md-6">
                                    <label class="label"> Descripción </label>
                                    <nb-form-field>
                                        <textarea nbInput fullWidth status="danger" rows="6" shape="semi-round" type="text" name="descripcion" #descripcion="ngModel" [(ngModel)]="epicaCopy.descripcion" [ngModelOptions]="{standalone: true}" required minlength="5"></textarea>
                                        <nb-icon nbSuffix icon="edit-2" pack="eva"></nb-icon>
                                    </nb-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="px-md-4 col-md-6 form-group" style="position: absolute; top: 80px;">
                                    <label class="label"> Proyecto </label>
                                    <nb-form-field>
                                        <input nbInput fullWidth status="danger" shape="semi-round" [formControl]="form.get('proyectoModal')" #ProyectModalAuto type="text" (input)="onChangeModalProyect($event)" [nbAutocomplete]="autoProyectModal">
                                        <nb-autocomplete #autoProyectModal (selectedChange)="onProyectModalSelected($event)">
                                            <nb-option *ngFor="let option of filtredProyectsModal | async" [value]="option.nombre">
                                                {{ option.nombre }}
                                            </nb-option>
                                        </nb-autocomplete>
                                        <nb-icon nbSuffix icon="briefcase" pack="eva"></nb-icon>
                                    </nb-form-field>
                                </div>
                            </div>
                            <div style="padding: 20px;"></div>
                            <div class="row" style="position: relative;">
                                <div class="col" style="margin-bottom: 20px;">
                                    <button nbButton status="danger" size="medium" type="submit">Editar</button>
                                </div>
                                <div class="col text-right" style="margin-bottom: 20px;">
                                    <button nbButton status="primary" size="medium" type="button" (click)="closeModal()" class="btn btn-primary">Cerrar</button>
                                </div>
                            </div>
                        </form>
                    </nb-card-body>
                </nb-card>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #description let-data let-ref="dialogRef">
    <div class="row">
        <div class="col-md-10">
            <div class="row">
                <nb-card status="danger" style="width: 600px; max-height: 900px; overflow-y: auto;">
                    <nb-card-header>Descripción</nb-card-header>
                    <nb-card-body>
                        <textarea nbInput fullWidth name="descripcion" #descripcion="ngModel" type="text" name="descripcion" [ngModelOptions]="{standalone: true}" [(ngModel)]="epica.descripcion" required minlength="10"></textarea>
                    </nb-card-body>
                </nb-card>
            </div>
        </div>
    </div>
</ng-template>