/* CSS personalizado para cambiar el color del texto en una tabla de fondo oscuro */

.dark-table {
    color: white;
    /* Cambiar el color del texto a blanco */
}

.list-card {
    nb-card-header {
        border-bottom: none;
    }
    nb-card-body {
        padding: 0;
    }
}


/* Aplicar el estilo a las celdas de datos en la tabla */

.dark-table td {
    color: white;
    /* Cambiar el color del texto a blanco en las celdas de datos */
}

.modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: fixed;
    /* Agregamos esta propiedad para que funcione correctamente en caso de scroll */
    top: 160px;
    /* Ajustar el valor para mover la barra hacia abajo */
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 500px;
    max-height: 500px;
}

.custom-pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}