<div style="position: absolute; top: 20%; left: 40%">
    <div class="row justify-content-center">
        <div style="margin-top: -130px; text-align: center;">
            <img src="./assets/images/logo.png" alt="..." style="width: -100%; height: auto; ">
            <h2 class="text-black"> Duocolab - Administración </h2>
        </div>
    </div>
    <div style="padding: 5%"> </div>
    <h5 class="title text-center">Registra tus datos de acceso</h5>
    <div style="height: 300px">
        <form (ngSubmit)="register()">

            <div class="form-control-group" col-md-5>
                <label class="label" for="name">Nombre:</label>
                <input nbInput fullWidth [(ngModel)]="user.name" #name="ngModel" name="name" id="input-name" placeholder="Ingrese su Correo Electronico" fieldSize="large" autofocus [status]="name.dirty ? (name.invalid  ? 'danger' : 'success') : 'basic'" [attr.aria-invalid]="name.invalid && name.touched ? true : null">
                <ng-container *ngIf="name.invalid && name.touched">
                    <p class="caption status-danger" *ngIf="name.errors?.required">
                        name is required!
                    </p>
                    <p class="caption status-danger" *ngIf="name.errors?.pattern">
                        name should be the real one!
                    </p>
                </ng-container>
            </div>

            <div class="form-control-group" col-md-5>
                <label class="label" for="input-email">Correo Electronico:</label>
                <input nbInput fullWidth [(ngModel)]="user.email" #email="ngModel" name="email" id="input-email" pattern=".+@.+\..+" placeholder="Ingrese su Correo Electronico" fieldSize="large" autofocus [status]="email.dirty ? (email.invalid  ? 'danger' : 'success') : 'basic'"
                    [attr.aria-invalid]="email.invalid && email.touched ? true : null">
                <ng-container *ngIf="email.invalid && email.touched">
                    <p class="caption status-danger" *ngIf="email.errors?.required">
                        Email is required!
                    </p>
                    <p class="caption status-danger" *ngIf="email.errors?.pattern">
                        Email should be the real one!
                    </p>
                </ng-container>
            </div>

            <div class="form-control-group">
                <span class="label-with-link">
                      <label class="label" for="input-password">Contraseña:</label>
                    </span>
                <input nbInput fullWidth [(ngModel)]="user.password" #password="ngModel" name="password" type="password" id="input-password" placeholder="Ingrese su Contraseña" fieldSize="large" [attr.aria-invalid]="password.invalid && password.touched ? true : null">
                <ng-container *ngIf="password.invalid && password.touched ">
                    <p class="caption status-danger" *ngIf="password.errors?.required">
                        Password is required!
                    </p>
                    <p class="caption status-danger" *ngIf="password.errors?.minlength || password.errors?.maxlength">
                        Password should contain from {{ getConfigValue('forms.validation.password.minLength') }} to {{ getConfigValue('forms.validation.password.maxLength') }} characters
                    </p>
                </ng-container>
            </div>
            <div class="form-control-group">
                <nb-select fullWidth #key_role="ngModel" name="key_role" type="number" id="input-key_role" [(ngModel)]="user.key_role" selected="1">
                    <nb-option value="1">Administrador</nb-option>
                    <nb-option value="2">Colaborador</nb-option>
                    <nb-option value="3">Coordinador </nb-option>
                </nb-select>
            </div>
            <div class="text-center ">
                <button nbButton status="danger" fullWidth>Registrar</button>
            </div>
        </form>
    </div>
</div>