<nb-alert *ngIf="alert" status="success" closable (close)="closeAlert()">
    <div style="text-align: center;">!Registro realizado con exito! </div>
</nb-alert>

<nb-alert *ngIf="alertUpdate" status="success" closable (close)="closeAlert()">
    <div style="text-align: center;">!Actualización realizada con exito! </div>
</nb-alert>

<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>
                <h3 class="title">Registro de Tareas</h3>
            </nb-card-header>
            <nb-card-body>
                <h6 class="title text-center">Registrar nueva Tarea</h6>
                <div style="padding: 10px;"></div>
                <form style="position: relative; left: 8%;" class="col-md-10" (ngSubmit)="registrarTarea()">
                    <div class="row">
                        <div class="col-md-6 px-md-4 text-center">
                            <div class="form-group mx-auto">
                                <label for="nombre">Nombre</label>
                                <input nbInput fullWidth status="danger" class="text-center" shape="semi-round" type="text" name="nombre" placeholder="Ingrese el nombre" #nombre="ngModel" [(ngModel)]="tarea.nombre" required minlength="5" [ngModelOptions]="{standasalone: true}">
                                <small *ngIf="!nombre.valid && nombre.touched && tarea.nombre !== ''" class="invalid-feedback d-block">
      El nombre no es válido
    </small>
                            </div>
                        </div>
                        <div class="col-md-6 px-md-4 text-center">
                            <div class="form-group mx-auto">
                                <label for="form-control">Descripción</label>
                                <input nbInput fullWidth status="danger" class="text-center" shape="semi-round" type="text" name="descripcion" placeholder="Ingrese la descripción" #descripcion="ngModel" [ngModelOptions]="{standalone: true}" [(ngModel)]="tarea.descripcion" required minlength="10">
                                <small *ngIf="!descripcion.valid && descripcion.touched && tarea.descripcion !== ''" class="invalid-feedback d-block">
      La descripción no es válida
    </small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 px-md-4 text-center">
                            <div class="form-group mx-auto">
                                <label for="form-control">Key Epica</label>
                                <input nbInput fullWidth status="danger" class="text-center" shape="semi-round" type="text" name="key_epica" placeholder="Ingrese la key épica" #key_epica="ngModel" [ngModelOptions]="{standalone: true}" [(ngModel)]="tarea.key_epica" required minlength="1">
                                <small *ngIf="!key_epica.valid && key_epica.touched && tarea.key_epica !== ''" class="invalid-feedback d-block">
      La key épica no es válida
    </small>
                            </div>
                        </div>
                        <div class="col-md-6 px-md-4 text-center">
                            <div class="form-group mx-auto">
                                <label for="form-control">Key Sprint</label>
                                <input nbInput fullWidth status="danger" class="text-center" shape="semi-round" type="text" name="key_sprint" placeholder="Ingrese la key sprint" #key_sprint="ngModel" [ngModelOptions]="{standalone: true}" [(ngModel)]="tarea.key_sprint" required minlength="1">
                                <small *ngIf="!key_sprint.valid && key_sprint.touched && tarea.key_sprint !== ''" class="invalid-feedback d-block">
      La key sprint no es válida
    </small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 px-md-4 text-center">
                            <div class="form-group mx-auto">
                                <label for="form-control">Key Proyecto</label>
                                <input nbInput fullWidth status="danger" class="text-center" shape="semi-round" type="text" name="key_proyecto" placeholder="Ingrese la key proyecto" #key_proyecto="ngModel" [ngModelOptions]="{standalone: true}" [(ngModel)]="tarea.key_proyecto" required
                                    minlength="1">
                                <small *ngIf="!key_proyecto.valid && key_proyecto.touched && tarea.key_proyecto !== ''" class="invalid-feedback d-block">
      La key proyecto no es válida
    </small>
                            </div>
                        </div>
                        <div class="col-md-6 px-md-4 text-center">
                            <div class="form-group mx-auto">
                                <label for="form-control">Key Colaborador</label>
                                <input nbInput fullWidth status="danger" class="text-center" shape="semi-round" type="text" name="key_colaborador" placeholder="Ingrese la key colaborador" #key_colaborador="ngModel" [ngModelOptions]="{standalone: true}" [(ngModel)]="tarea.key_colaborador"
                                    required minlength="1">
                                <small *ngIf="!key_colaborador.valid && key_colaborador.touched && tarea.key_colaborador !== ''" class="invalid-feedback d-block">
      La key colaborador no es válida
    </small>
                            </div>
                        </div>
                    </div>
                    <div style="padding: 10px;"></div>
                    <div class="text-center">
                        <button nbButton status="danger" type="submit">Registrar</button>
                    </div>
                </form>
                <div style="padding: 30px;"></div>
                <form class="pl-md-5" (ngSubmit)="buscarTareas()">
                    <div class="row">
                        <div class="row align-items-center">
                            <div class="px-md-2">
                                <input nbInput fullWidth shape="semi-round" style="width : 600px;" fieldSize="giant" type="text" [(ngModel)]="text" name="text" placeholder="Buscar Tareas">
                            </div>
                            <div class="px-md-2">
                                <button nbButton status="primary" type="submit" size="giant" style="top: -5px;">Buscar</button>
                            </div>
                        </div>
                    </div>
                </form>
                <nb-card-body>
                    <div [class.show]="modalTable" style="display: block;" *ngIf="!modalTable" class="table-responsive">
                        <table class="table dark-table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of myList">
                                    <td>{{ item.id_tarea }}</td>
                                    <td>{{ item.nombre }}</td>
                                    <td> <button nbButton status="danger" type="button" size="medium" (click)="openModalUpdate(item)">Editar</button> </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div [class.show]="modalTable" style="display: block;" *ngIf="modalTable" class="table-responsive">
                        <table class="table dark-table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of myList2">
                                    <td>{{ item.id_tarea }}</td>
                                    <td>{{ item.nombre }}</td>
                                    <td> <button nbButton status="danger" type="button" size="medium" (click)="openModalUpdate(item)">Editar</button> </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </nb-card-body>
            </nb-card-body>
        </nb-card>
    </div>
</div>


<div class="modal" [class.show]="modalUpdate" style="display: block;" *ngIf="modalUpdate">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 1200px; height: 700px; background-color: rgb(47, 62, 106); right: 60%; margin-top: 25%;">
            <div class="modal-header">
                <h style="font-weight: bold; color: rgb(255, 255, 255);">Edicion de tarea</h>
            </div>
            <div style="padding: 50px;"></div>
            <div class="modal-body">
                <form class="col-md-10" style="left: 8%;" (ngSubmit)="updateTarea()">
                    <div class="row">
                        <div class="col-md-6 px-md-4 text-center">
                            <div class="form-group mx-auto">
                                <label for="nombre">Nombre</label>
                                <input nbInput fullWidth status="danger" class="text-center" shape="semi-round" type="text" name="nombre" placeholder="Ingrese el nombre" #nombre="ngModel" [(ngModel)]="tareaCopy.nombre" required minlength="5" [ngModelOptions]="{standasalone: true}">
                                <small *ngIf="!nombre.valid && nombre.touched" class="invalid-feedback d-block">
          El nombre no es válido
        </small>
                            </div>
                        </div>
                        <div class="col-md-6 px-md-4 text-center">
                            <div class="form-group mx-auto">
                                <label for="form-control">Descripción</label>
                                <input nbInput fullWidth status="danger" class="text-center" shape="semi-round" type="text" name="descripcion" placeholder="Ingrese la descripción" #descripcion="ngModel" [ngModelOptions]="{standalone: true}" [(ngModel)]="tareaCopy.descripcion" required
                                    minlength="10">
                                <small *ngIf="!descripcion.valid && descripcion.touched" class="invalid-feedback d-block">
          La descripción no es válida
        </small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 px-md-4 text-center">
                            <div class="form-group mx-auto">
                                <label for="form-control">Key Epica</label>
                                <input nbInput fullWidth status="danger" class="text-center" shape="semi-round" type="text" name="key_epica" placeholder="Ingrese la key épica" #key_epica="ngModel" [ngModelOptions]="{standalone: true}" [(ngModel)]="tareaCopy.key_epica" required minlength="1">
                                <small *ngIf="!key_epica.valid && key_epica.touched" class="invalid-feedback d-block">
          La key épica no es válida
        </small>
                            </div>
                        </div>
                        <div class="col-md-6 px-md-4 text-center">
                            <div class="form-group mx-auto">
                                <label for="form-control">Key Sprint</label>
                                <input nbInput fullWidth status="danger" class="text-center" shape="semi-round" type="text" name="key_sprint" placeholder="Ingrese la key sprint" #key_sprint="ngModel" [ngModelOptions]="{standalone: true}" [(ngModel)]="tareaCopy.key_sprint" required minlength="1">
                                <small *ngIf="!key_sprint.valid && key_sprint.touched" class="invalid-feedback d-block">
          La key sprint no es válida
        </small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 px-md-4 text-center">
                            <div class="form-group mx-auto">
                                <label for="form-control">Key Proyecto</label>
                                <input nbInput fullWidth status="danger" class="text-center" shape="semi-round" type="text" name="key_proyecto" placeholder="Ingrese la key proyecto" #key_proyecto="ngModel" [ngModelOptions]="{standalone: true}" [(ngModel)]="tareaCopy.key_proyecto" required
                                    minlength="1">
                                <small *ngIf="!key_proyecto.valid && key_proyecto.touched" class="invalid-feedback d-block">
          La key proyecto no es válida
        </small>
                            </div>
                        </div>
                        <div class="col-md-6 px-md-4 text-center">
                            <div class="form-group mx-auto">
                                <label for="form-control">Key Colaborador</label>
                                <input nbInput fullWidth status="danger" class="text-center" shape="semi-round" type="text" name="key_colaborador" placeholder="Ingrese la key colaborador" #key_colaborador="ngModel" [ngModelOptions]="{standalone: true}" [(ngModel)]="tareaCopy.key_colaborador"
                                    required minlength="1">
                                <small *ngIf="!key_colaborador.valid && key_colaborador.touched" class="invalid-feedback d-block">
          La key colaborador no es válida
        </small>
                            </div>
                        </div>
                    </div>
                    <div style="padding: 20px;"></div>
                    <div class="row">
                        <div class="col">
                            <button nbButton status="primary" type="submit">Editar</button>
                        </div>
                        <div class="col text-right">
                            <button nbButton status="danger" type="button" (click)="closeModal()">Cerrar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>