<nb-alert *ngIf="alert" status="success" closable (close)="closeAlert()">
    <div style="text-align: center;">!Registro realizado con exito! </div>
</nb-alert>

<nb-alert *ngIf="alertUpdate" status="success" closable (close)="closeAlert()">
    <div style="text-align: center;">!Actualización realizada con exito! </div>
</nb-alert>

<div class="row">
    <div class="col-md-12">
        <nb-card status="primary">
            <nb-card-header>
                <h5 class="title">Registro de Tareas</h5>
            </nb-card-header>
            <nb-card-body>
                <div style="padding: 10px;"></div>
                <form class="col-md-12" (ngSubmit)="registrarTarea()">
                    <div class="form-group row">
                        <div class="col-md-3">
                            <label class="label">Nombre</label>
                            <nb-form-field>
                                <input nbInput fullWidth status="danger" shape="semi-round" type="text" name="nombre" #nombre="ngModel" [(ngModel)]="tarea.nombre" required minlength="5" [ngModelOptions]="{standasalone: true}">
                                <nb-icon nbSuffix icon="file-text" pack="eva"></nb-icon>
                            </nb-form-field>
                        </div>
                        <div class="col-md-2">
                            <label class="label">Area</label>
                            <nb-form-field>
                                <input nbInput fullWidth status="danger" shape="semi-round" [formControl]="form.get('area')" #AreaAuto type="text" (input)="onChangeArea($event)" [nbAutocomplete]="autoArea">
                                <nb-autocomplete #autoArea (selectedChange)="onAreaSelected($event)">
                                    <nb-option *ngFor="let option of filtredAreas | async" [value]="option.nombre">
                                        {{ option.nombre }}
                                    </nb-option>
                                </nb-autocomplete>
                                <nb-icon nbSuffix icon="smiling-face" pack="eva"></nb-icon>
                            </nb-form-field>
                        </div>
                        <div class="col-md-3">
                            <label class="label">Proyecto</label>
                            <nb-form-field>
                                <input nbInput fullWidth status="danger" shape="semi-round" [formControl]="form.get('proyecto')" #ProyectAuto type="text" (input)="onChangeProyect($event)" [nbAutocomplete]="autoProyect">
                                <nb-autocomplete #autoProyect (selectedChange)="onProyectSelected($event)">
                                    <nb-option *ngFor="let option of filtredProyects | async" [value]="option.nombre">
                                        {{ option.nombre }}
                                    </nb-option>
                                </nb-autocomplete>
                                <nb-icon nbSuffix icon="briefcase" pack="eva"></nb-icon>
                            </nb-form-field>
                        </div>
                        <div class="col-md-3">
                            <label class="label">Sprint</label>
                            <nb-form-field>
                                <input nbInput fullWidth status="danger" shape="semi-round" [formControl]="form.get('sprint')" #SprintAuto type="text" (input)="onChangeSprint($event)" [nbAutocomplete]="autoSprint" [placeholder]="placeHolderSprint">
                                <nb-autocomplete #autoSprint (selectedChange)="onSprintSelected($event)">
                                    <nb-option *ngFor="let option of filtredSprints | async" [value]="option.nombre" (selectedChange)="onSelectionChangeSprint($event)">
                                        {{ option.nombre }}
                                    </nb-option>
                                </nb-autocomplete>
                                <nb-icon nbSuffix icon="sync" pack="eva"></nb-icon>
                            </nb-form-field>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <label class="label">Epica</label>
                            <nb-form-field>
                                <input nbInput fullWidth status="danger" shape="semi-round" [formControl]="form.get('epica')" (input)="onChange($event)" [nbAutocomplete]="autoEpica" [placeholder]="placeHolderEpica">
                                <nb-autocomplete #autoEpica (selectedChange)="onEpicaSelected($event)">
                                    <nb-option *ngFor="let option of filteredEpicas | async" [value]="option.nombre">
                                        {{ option.nombre }}
                                    </nb-option>
                                </nb-autocomplete>
                                <nb-icon nbSuffix icon="clipboard-outline" pack="eva"></nb-icon>
                            </nb-form-field>
                        </div>
                        <div class="col-md-2">
                            <label class="label">Colaboradores</label>
                            <nb-form-field>
                                <input nbInput fullWidth status="danger" shape="semi-round" [value]="colabsText" type="text" (click)="openModalColaborador(colabsList)" [placeholder]="placeHolderColab" readonly>
                                <nb-icon nbSuffix icon="people" pack="eva"></nb-icon>
                            </nb-form-field>
                        </div>
                        <div class="col-md-2">
                            <label class="label">Descripción</label>
                            <nb-form-field>
                                <input nbInput fullWidth status="danger" class="text-center" shape="semi-round" type="text" (click)="openModalDescription(description)" [placeholder]="tarea.descripcion" readonly>
                                <nb-icon nbSuffix icon="edit-2" pack="eva"></nb-icon>
                            </nb-form-field>
                        </div>
                        <div class="col-md-2">
                            <label class="label">Prioridad</label>
                            <nb-form-field>
                                <nb-select status="danger" placeholder="Seleccionar" type="text" name="prioridad" #prioridad="ngModel" [(ngModel)]="tarea.key_prioridad_status">
                                    <nb-option value="1">Normal</nb-option>
                                    <nb-option value="2">Media</nb-option>
                                    <nb-option value="3">Alta</nb-option>
                                    <nb-option value="4">Urgente</nb-option>
                                </nb-select>
                                <nb-icon nbSuffix icon="edit-2" pack="eva"></nb-icon>
                            </nb-form-field>
                        </div>
                        <div class="px-md-1" style="position: relative; top: 25px;">
                            <button nbButton status="danger" type="submit"><nb-icon icon="plus-outline"></nb-icon></button>
                        </div>
                    </div>
                </form>
            </nb-card-body>
        </nb-card>
        <nb-card status="danger">
            <nb-card-body>
                <form class="pl-md-3" (ngSubmit)="buscarTareas()">
                    <div class="row">
                        <div class="row align-items-center">
                            <div class="px-md-2">
                                <input nbInput fullWidth shape="semi-round" style="width : 600px;" fieldSize="giant" type="text" [(ngModel)]="text" name="text" placeholder="Buscar Tareas">
                            </div>
                            <div class="px-md-2">
                                <button nbButton status="primary" type="submit" size="giant" style="top: -5px;"><nb-icon icon="search-outline"></nb-icon></button>
                            </div>
                        </div>
                    </div>
                </form>
                <nb-card-body>
                    <div [class.show]="modalTable" style="display: block;" *ngIf="!modalTable" class="table-responsive">
                        <table class="table dark-table">
                            <thead style="background-color: #27598F">
                                <tr>
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>Descripción</th>
                                    <th>Epica</th>
                                    <th>Sprint</th>
                                    <th>Proyecto</th>
                                    <th>Estatus</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of myList">
                                    <td>{{ item.id_tarea }}</td>
                                    <td>{{ item.tarea_nombre }}</td>
                                    <td>{{item.tareas_descripcion}} </td>
                                    <td>{{item.epica_nombre}} </td>
                                    <td>{{item.sprint_nombre}}</td>
                                    <td>{{item.proyecto_nombre}}</td>
                                    <td>{{item.estatus[0].nombre}}</td>
                                    <!--td><button nbButton status="info"><nb-icon nbSuffix icon="people" pack="eva"></nb-icon></button></td>-->
                                    <td> <button nbButton status="danger" type="button" size="medium" (click)="openModalUpdate(item, modalUpdate)"><nb-icon nbSuffix icon="file-text" pack="eva"></nb-icon></button> </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="custom-pagination">
                            <button nbButton shape="semi-round" status="info" (click)="preview()">Anterior</button>
                            <button nbButton shape="semi-round" status="info" (click)="next()">Siguiente</button>
                        </div>
                    </div>
                    <div [class.show]="modalTable" style="display: block;" *ngIf="modalTable" class="table-responsive">
                        <table class="table dark-table">
                            <thead style="background-color: #27598F">
                                <tr>
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>Descripción</th>
                                    <th>Epica</th>
                                    <th>Sprint</th>
                                    <th>Proyecto</th>
                                    <th>Estatus</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of myList2">
                                    <td>{{ item.id_tarea }}</td>
                                    <td>{{ item.tarea_nombre }}</td>
                                    <td>{{item.tareas_descripcion}} </td>
                                    <td>{{item.epica_nombre}} </td>
                                    <td>{{item.sprint_nombre}}</td>
                                    <td>{{item.proyecto_nombre}}</td>
                                    <td>{{item.estatus[0].nombre}}</td>
                                    <!--td><button nbButton status="info"><nb-icon nbSuffix icon="people" pack="eva"></nb-icon></button></td>-->
                                    <td> <button nbButton status="danger" type="button" size="medium" (click)="openModalUpdate(item, modalUpdate)"><nb-icon nbSuffix icon="file-text" pack="eva"></nb-icon></button> </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="custom-pagination">
                            <button nbButton shape="semi-round" status="info" (click)="preview()">Anterior</button>
                            <button nbButton shape="semi-round" status="info" (click)="next()">Siguiente</button>
                        </div>
                    </div>
                </nb-card-body>
            </nb-card-body>
        </nb-card>
    </div>
</div>


<ng-template #modalUpdate let-data let-ref="dialogRef">
    <div class="row">
        <div class="col-md-10">
            <div class="row">
                <nb-card status="danger" style="width: 1000px; max-height: 920px;">
                    <nb-card-header>Editor</nb-card-header>
                    <nb-card-body>
                        <form class="col-md-10 text-align" style="left: 8%;">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="label">Nombre</label>
                                        <nb-form-field>
                                            <input nbInput fullWidth status="danger" shape="semi-round" type="text" name="nombre" #nombre="ngModel" [(ngModel)]="tareaCopy.tarea_nombre">
                                            <nb-icon nbSuffix icon="edit-2" pack="eva"></nb-icon>
                                        </nb-form-field>
                                    </div>
                                    <div class="form-group">
                                        <label class="label">Proyecto</label>
                                        <nb-form-field>
                                            <input nbInput fullWidth status="danger" shape="semi-round" [value]="tareaCopy.proyecto_nombre" readonly>
                                            <nb-icon nbSuffix icon="edit-2" pack="eva"></nb-icon>
                                        </nb-form-field>
                                    </div>
                                    <div class="form-group">
                                        <label class="label">Sprint</label>
                                        <nb-form-field>
                                            <input nbInput fullWidth status="danger" shape="semi-round" [value]="tareaCopy.sprint_nombre" readonly>
                                            <nb-icon nbSuffix icon="edit-2" pack="eva"></nb-icon>
                                        </nb-form-field>
                                    </div>
                                    <div class="form-group">
                                        <label class="label">Epica</label>
                                        <nb-form-field>
                                            <input nbInput fullWidth status="danger" shape="semi-round" [value]="tareaCopy.epica_nombre" readonly>
                                            <nb-icon nbSuffix icon="edit-2" pack="eva"></nb-icon>
                                        </nb-form-field>
                                    </div>
                                </div>
                                <div class="col-md-6 text-center">
                                    <div class="form-group">
                                        <label class="label">Colaborador</label>
                                        <div style="padding: 1px;"></div>
                                        <nb-card-body>
                                            <nb-list-item *ngIf="integrantes.length !== 0" class="text-center">
                                                <b>{{ integrantes[0].nombre }}</b>
                                            </nb-list-item>
                                            <nb-list-item *ngIf="integrantes.length === 0">
                                                <div style="display: flex; flex-direction: column; align-items: center;">
                                                    <b> Agregar un colaborador</b>
                                                    <nb-form-field style="margin-top: 10px;">
                                                        <input nbInput fullWidth status="danger" shape="semi-round" [formControl]="form.get('integrantes')" #IntegranteAuto type="text" (input)="onChangeIntegrante($event)" [nbAutocomplete]="autoIntegrantes">
                                                        <nb-autocomplete #autoIntegrantes (selectedChange)="onIntegranteSelected($event)">
                                                            <nb-option *ngFor="let option of filtredIntegrantes | async" [value]="option.colaborador">
                                                                {{ option.colaborador }}
                                                            </nb-option>
                                                        </nb-autocomplete>
                                                        <nb-icon nbSuffix icon="clipboard-outline" pack="eva"></nb-icon>
                                                    </nb-form-field>
                                                </div>
                                            </nb-list-item>

                                        </nb-card-body>
                                    </div>
                                    <div *ngIf="integrantes.length !== 0" class="form-group" style="position: relative; right: 50px;">
                                        <nb-card-body>
                                            <nb-select [placeholder]="tareaCopy.estatus[0].nombre" [formControl]="copy_id_status" style="width: 190px;" status="danger">
                                                <nb-option *ngFor="let item of tarea_status_options" [value]="item.id_tarea_status">{{item.nombre}}</nb-option>
                                            </nb-select>
                                        </nb-card-body>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="label">Prioridad</label>
                                        <nb-form-field>
                                            <nb-select [placeholder]="tareaCopy.prioridad" status="danger" style="width: 190px; position: relative; right: 10px;" type="text" name="prioridad" #prioridad="ngModel" [(ngModel)]="key_prioridad">
                                                <nb-option value="1">Normal</nb-option>
                                                <nb-option value="2">Media</nb-option>
                                                <nb-option value="3">Alta</nb-option>
                                                <nb-option value="4">Urgente</nb-option>
                                            </nb-select>
                                            <nb-icon nbSuffix icon="edit-2" pack="eva"></nb-icon>
                                        </nb-form-field>
                                    </div>
                                </div>
                            </div>
                            <div style="padding: 5px;"></div>
                            <div class="row">
                                <label class="label">Descripción</label>
                                <textarea nbInput fullWidth rows="3" status="danger" type="text" name="descripcion" #descripcion="ngModel" [(ngModel)]="tareaCopy.tareas_descripcion" shape="semi-round"></textarea>
                            </div>
                            <nb-card-body>
                                <table class="table dark-table">
                                    <thead style="background-color: #27598F">
                                        <tr>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of historial">
                                            <td>{{ item.descripcion }}</td>
                                            <td>{{ item.created_at }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </nb-card-body>
                            <div style="padding: 20px;"></div>
                            <div class="row">
                                <div class="col">
                                    <button nbButton status="primary" type="submit" (click)="updateTarea()">Editar</button>
                                </div>
                                <div class="col text-right">
                                    <button nbButton status="danger" type="button" (click)="closeModalUpdate()">Cerrar</button>
                                </div>
                            </div>
                        </form>
                    </nb-card-body>
                </nb-card>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #colabsList let-data let-ref="dialogRef">
    <div class="row">
        <div class="col-md-10">
            <div class="row">
                <nb-card status="danger" style="width: 600px; max-height: 900px; overflow-y: auto;">
                    <nb-card-header>Colaboradores</nb-card-header>
                    <nb-card-body>
                        <form class="pl-md-4">
                            <div class="row">
                                <div class="row align-items-center">
                                    <div class="px-md-2">
                                        <input nbInput fullWidth shape="semi-round" style="width : 400px;" fieldSize="medium" type="text" [(ngModel)]="textModal" name="textModal" placeholder="Buscar Colaborador">
                                    </div>
                                    <div class="px-md-2">
                                        <button nbButton status="primary" size="medium" (click)="searchColab()"><nb-icon icon="search-outline"></nb-icon></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div style="padding: 20px;"></div>
                        <nb-list-item *ngFor="let item of colaboradorList">
                            <b>{{ item.nombre }}</b>
                            <div class="button" style="position: absolute; left: 80%;">
                                <button nbButton status="info" (click)="selectedColabs(item.id_colab)"><nb-icon nbSuffix icon="person-add" pack="eva"></nb-icon></button>
                            </div>
                        </nb-list-item>
                        <div style="padding: 20px;"></div>
                        <div class="custom-pagination">
                            <button nbButton shape="semi-round" status="info" (click)="previewModal()">Anterior</button>
                            <div class="text-center">
                                <button nbButton shape="semi-round" status="danger" (click)="ref.close()">Cerrar</button>
                            </div>
                            <button nbButton shape="semi-round" status="info" (click)="nextModal()">Siguiente</button>
                        </div>
                    </nb-card-body>
                </nb-card>
                <nb-card class="list-card" status="danger" style="max-width: 400px; max-height: 900px; overflow-y: auto; position: fixed; right: 25%;">
                    <nb-card-header>Colaboradores Seleccionados</nb-card-header>
                    <nb-card-body>
                        <nb-list>
                            <nb-list-item *ngFor="let item of colabsSelected">
                                {{ item.nombre}}
                                <div class="button" style="position: fixed; right: 27%;">
                                    <button (click)="deleteSelectedUsers(item.id_colab)" nbButton status="danger"><nb-icon nbSuffix icon="close" pack="eva"></nb-icon></button>
                                </div>
                            </nb-list-item>
                        </nb-list>
                    </nb-card-body>
                </nb-card>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #proyects let-data let-ref="dialogRef">
    <div class="row">
        <div class="col-md-10">
            <div class="row">
                <nb-card status="danger" style="width: 600px; max-height: 900px; overflow-y: auto;">
                    <nb-card-header>Proyectos</nb-card-header>
                    <nb-card-body>
                        <nb-list-item *ngFor="let item of proyectoList">
                            <div class="row">
                                <b>{{ item.nombre }}</b>
                                <div style="position: absolute; left: 80%; margin-top: -10px;">
                                    <button nbButton status="danger" (click)="selectedProyect(item)"><nb-icon nbSuffix icon="checkmark" pack="eva"></nb-icon></button>
                                </div>
                            </div>
                        </nb-list-item>
                        <div style="padding: 20px;">
                            <div class="text-center">
                                <button nbButton (click)="ref.close()">Cerrar</button>
                            </div>
                        </div>
                    </nb-card-body>
                </nb-card>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #sprints let-data let-ref="dialogRef">
    <div class="row">
        <div class="col-md-10">
            <div class="row">
                <nb-card status="danger" style="width: 600px; max-height: 900px; overflow-y: auto;">
                    <nb-card-header>Sprints</nb-card-header>
                    <nb-card-body>
                        <nb-list-item *ngFor="let item of sprintList">
                            <div class="row">
                                <b>{{ item.nombre }}</b>
                                <div style="position: absolute; left: 80%; margin-top: -10px;">
                                    <button nbButton status="danger" (click)="selectedSprint(item)"><nb-icon nbSuffix icon="checkmark" pack="eva"></nb-icon></button>
                                </div>
                            </div>
                        </nb-list-item>
                        <div style="padding: 20px;">
                            <div class="text-center">
                                <button nbButton (click)="ref.close()">Cerrar</button>
                            </div>
                        </div>
                    </nb-card-body>
                </nb-card>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #epicas let-data let-ref="dialogRef">
    <div class="row">
        <div class="col-md-10">
            <div class="row">
                <nb-card status="danger" style="width: 600px; max-height: 900px; overflow-y: auto;">
                    <nb-card-header>Sprints</nb-card-header>
                    <nb-card-body>
                        <nb-list-item *ngFor="let item of epicaList">
                            <div class="row">
                                <b>{{ item.nombre }}</b>
                                <div style="position: absolute; left: 80%; margin-top: -10px;">
                                    <button nbButton status="danger" (click)="selectedEpica(item)"><nb-icon nbSuffix icon="checkmark" pack="eva"></nb-icon></button>
                                </div>
                            </div>
                        </nb-list-item>
                        <div style="padding: 20px;">
                            <div class="text-center">
                                <button nbButton (click)="ref.close()">Cerrar</button>
                            </div>
                        </div>
                    </nb-card-body>
                </nb-card>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #description let-data let-ref="dialogRef">
    <div class="row">
        <div class="col-md-10">
            <div class="row">
                <nb-card status="danger" style="width: 600px; max-height: 900px; overflow-y: auto;">
                    <nb-card-header>Descripción</nb-card-header>
                    <nb-card-body>
                        <textarea nbInput fullWidth name="descripcion" #descripcion="ngModel" [ngModelOptions]="{standalone: true}" [(ngModel)]="tarea.descripcion" required minlength="10"></textarea>
                    </nb-card-body>
                </nb-card>
            </div>
        </div>
    </div>
</ng-template>