<nb-alert *ngIf="alert" status="success" closable (close)="claseAlert()">
    <div style="text-align: center;">!Registro realizado con exito! </div>
</nb-alert>

<nb-alert *ngIf="alertUpdate" status="success" closable (close)="claseAlert()">
    <div style="text-align: center;">!Actualización realizada con exito! </div>
</nb-alert>

<div class=" row">
    <div class=" col-md-12">
        <nb-card>
            <nb-card-header>
                <h5 class=" title">Registro de Areas</h5>
            </nb-card-header>
            <nb-card-body>
                <h6 class="title text-center">Registrar una nueva Area</h6>
                <div style="padding: 10px;"></div>
                <form style="left: 8%;" class="col-md-10" (ngSubmit)="registrarArea()">
                    <div class=" row">
                        <div class=" px-md-4 col-md-6 form-group mx-auto text-center">
                            <label>Nombre</label>
                            <input nbInput fullWidth status="danger" shape="semi-round" class="text-center" type="text" name="nombre" placeholder="Ingrese el nombre" #nombre="ngModel" [(ngModel)]="area.nombre" required minlength="5" [ngModelOptions]="{standasalone: true}">
                            <small *ngIf="!nombre.valid && nombre.touched && area.nombre !== ''" class="invalid-feedback d-block"> El nombre no es
                    válido </small>
                        </div>
                    </div>
                    <div style="padding: 10px;"></div>
                    <div class="text-center">
                        <button nbButton status="danger" type="submit">Registrar</button>
                    </div>
                </form>
                <div style="padding: 30px;"></div>
                <form class="pl-md-5" (ngSubmit)="buscarAreas()">
                    <div class="row">
                        <div class="row align-items-center">
                            <div class="px-md-2">
                                <input nbInput fullWidth shape="semi-round" style="width : 600px;" fieldSize="giant" type="text" [(ngModel)]="termino" name="termino" placeholder="Buscar Area">
                            </div>
                            <div class="px-md-2">
                                <button nbButton status="primary" type="submit" size="giant">Buscar</button>
                            </div>
                        </div>
                    </div>
                </form>
                <nb-card-body>
                    <div class="table-responsive">
                        <table class="table dark-table ">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of myList">
                                    <td>{{ item.id_area }}</td>
                                    <td>{{ item.nombre }}</td>
                                    <td>
                                        <button nbButton status="danger" type="button" size="medium" (click)="openModalUpdate(item)">Editar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </nb-card-body>
            </nb-card-body>
        </nb-card>
    </div>
</div>



<div class="modal custom-modal" [class.show]="modalUpdate" style="display: block;" *ngIf="modalUpdate">
    <div class="modal-dialog">
        <div class="modal-content" style="margin-top: 50%; width: 800px; background-color: rgb(47, 62, 106); right: 30%;">
            <div class="modal-header">
                <h style="font-weight: bold; color: rgb(255, 255, 255);">Edicion de Area</h>
            </div>
            <div style="padding: 20px;"></div>
            <div class="modal-body">
                <form class="col-md-10" style="left: 8%;" (ngSubmit)="updateArea()">
                    <div class="row">
                        <div class="px-md-1 col-md-8 form-group mx-auto text-center">
                            <div class="form-group">
                                <label>Nombre</label>
                                <input nbInput status="danger" class="text-center" fullWidth shape="semi-round" type="text" name="nombre" placeholder="Ingrese el nombre" #nombre="ngModel" [(ngModel)]="areaCopy.nombre" required minlength="5" [ngModelOptions]="{standasalone: true}">
                                <small *ngIf="!nombre.valid && nombre.touched" class="invalid-feedback d-block"> El nombre no es válido </small>
                            </div>
                        </div>
                    </div>
                    <div style="padding: 20px;"></div>
                    <div class="row">
                        <div class="col">
                            <button nbButton status="danger" type="submit">Editar</button>
                        </div>
                        <div class="col text-right">
                            <button nbButton status="primary" type="button" (click)="closeModal()" class="btn btn-primary">Cerrar</button>
                        </div>
                    </div>
                    <div style="padding: 20px;"></div>
                </form>
            </div>
        </div>
    </div>
</div>