<div class="row">
    <div class="list">
        <h3 class="list__title"><strong>Buzón</strong></h3>
        <div class="list__tasks">
            <ngx-tarea></ngx-tarea>
        </div>
    </div>
    <div class="list">
        <h3 class="list__title"><strong>En Progreso</strong></h3>
        <div class="list__tasks">
            <ngx-tarea></ngx-tarea>
        </div>
    </div>
    <div class="list">
        <h3 class="list__title"><strong>Probando</strong></h3>
        <div class="list__tasks">
            <ngx-tarea></ngx-tarea>
        </div>
    </div>
    <div class="list">
        <h3 class="list__title"><strong>Realizadas</strong></h3>
        <div class="list__tasks">
            <ngx-tarea></ngx-tarea>
        </div>
    </div>
</div>